:root {
  --select-height: 28px;
  --checkbox-size: 14px;
}

.selectWrapper {
  display: flex;
  position: relative;
}

.select {
  background: none;
  flex-grow: 1;
  min-width: 0;
  flex-basis: 0;
  height: var(--select-height);
  border: 1px solid var(--color-gray);
  padding: 4px 18px 4px 8px;
  border-radius: 4px;
  color: var(--color-black);
  outline: none;
  transition: border-color .2s ease-out;
  appearance: none;
  @mixin textStyle 14, 20;
  &::placeholder {
    color: var(--color-gray);
  }
  &:focus {
    border-color: var(--color-blue);
  }
  &[disabled] {
    opacity: 1;
    color: var(--color-medium-gray);
    background: rgba(236, 236, 238, 0.5);
  }
  &.withError {
    border-color: var(--color-alert-text) !important;
  }
}
.icon {
  position: absolute;
  top: calc(50% - 3px);
  right: 9px;
  color: var(--color-gray);
  pointer-events: none;
}
