.field {

}
.label {
    height: 16px;
    @mixin textStyle 12, 16;
    color: var(--color-medium-gray);
    margin-bottom: 2px;
    & .optional {
        color: var(--color-gray);
        text-transform: lowercase;
    }
}
.error {
    margin-top: 2px;
    @mixin textStyle 12, 16;
    color: var(--color-alert-text);
}
