@use '@cloudscape-design/design-tokens/index' as awsui;

.layout {
    background: awsui.$color-background-layout-main;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 100vh;
    box-sizing: border-box;
}
