.requestInvite {
    @media (--no-mobile) {
        margin-left: auto;
        margin-right: auto;
        width: 550px;
    }
    & .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    & .button {
        @mixin textStyle 16, 24;
        font-weight: 500;
        white-space: nowrap;
        transition: transform 0.3s ease-out;
        @media (--mobile) {
            @mixin textStyle 16, 26;
            min-height: 42px !important;
            height: 42px;
        }
        & .icon {
              display: inline-block;
              transition: transform 0.3s ease-out;
        }
        &:hover  {
            & .icon {
                transform: translateX(4px);
            }
            transform: translateY(-2px);
        }
        & .gitHubIcon {
            position: relative;
            top:2px;
        }
    }
}
.label {
    margin-top: 11px;
    @mixin textStyle 16, 24;
    text-align: center;
    color: var(--color-medium-gray);
    opacity: 0.9;
    @media (--no-mobile) {
        margin-top: 20px;
        @mixin textStyle 16, 24;
    }
}
