.artifacts {

}
.folder {
    &:nth-child(n+2) {
        margin-top: 8px;
    }
}
.folderName {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;;
    @mixin textStyle 14, 20;
    color: var(--color-black);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:not(:global(.no-border)) {
        border-bottom: 1px solid rgba(228, 228, 231, .6);
    }
    & svg {
        flex-shrink: 0;
        margin-right: 5px;
        color: var(--color-gray);
        &.closedIcon {
            transform: rotate(90deg);
        }
    }
}
.loading {
    margin-top: 6px;
    margin-bottom: 7px;
    max-width: 148px;
    height: 16px;
    background: linear-gradient(90deg, #E9ECF0 5.56%, #F2F2F2 62.89%, #E9ECF0 97.01%);
    border-radius: 2px;
    &:global {
        animation: loader-pulse 1.5s infinite;
    }
}
.file {
    @mixin textStyle 14, 20;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: 6px;
    padding-bottom: 6px;
    &:not(:global(.no-border)) {
        border-bottom: 1px solid rgba(228, 228, 231, .6);
    }
    &:nth-child(n+2) {
        margin-top: 8px;
    }
    & a {
        max-width: 100%;
        & svg {
            vertical-align: middle;
            flex-shrink: 0;
            margin-right: 5px;
            color: var(--color-gray);
        }
    }
}
