.cell {
    display: flex;
    align-items: center;
    height: calc(var(--cell-height) + var(--cell-vertical-padding) * 2);
    padding: var(--cell-vertical-padding) var(--cell-horizontal-padding);
    @mixin textStyle 14, 20;
    &:not(.stretch) {
        flex-shrink: 0;
    }
    &.text {
        & span {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    &.link {
        & a {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    &.stretch {
        flex-grow: 1;
        flex-basis: 0;
    }
    & .tags {
        display: grid;
        height: var(--cell-height);
        & .tag {
            margin-top: calc((var(--cell-height) - var(--tag-height)) / 2);
        }
        & > *:nth-child(n+2) {
            margin-left: 4px;
        }
    }
}
