:root {
    --sidebar-width: 302px
}

.details {
    min-height: 100%;
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar content";
    &:global(.without-sidebar) {
        grid-template-areas: "content content";
        & .content {
            padding-left: 0;
        }
    }
}
.sidebar {
    grid-area: sidebar;
    padding-top: 12px;
    padding-right: 55px;
    border-right: 1px solid var(--color-light-gray);
}
.content {
    grid-area: content;
    padding-top: 20px;
    padding-left: 55px;
    padding-bottom: 24px;
}
.userName {
    overflow: hidden;
    font-weight: 600;
    @mixin textStyle 24, 30;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.avatar {
    margin-top: 16px;
}
.link {
    overflow: hidden;
    margin-top: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    @mixin textStyle 14, 20;
    & a {
        color: var(--color-black);
        &:hover {
            color: var(--color-blue-hover);
        }
    }
    & svg {
        margin-top: -4px;
        margin-right: 4px;
        vertical-align: middle;
    }
}
.points {
    display: flex;
    align-items: center;
    margin-top: 6px;
}
.point {
    @mixin textStyle 14, 20;
    color: var(--color-medium-gray);
}
.title {
    font-weight: 600;
    @mixin textStyle 18, 22;
    margin-top: 0;
    margin-bottom: 16px;
}
.count {
    color: var(--color-gray);
}
