{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "i18n",
    "simple-import-sort"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "i18n/no-russian-character": 1,
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          ["^react", "lodash", "^\\w", "^@?\\w"],
          ["^components", "^layouts"],
          ["^consts", "^hooks", "^libs", "^routes", "^services","^types"],
          ["^App", "^pages"],
          ["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"],
          ["./constants/."],
          ["./definitions/.", "./types"],
          ["^.+\\.svg", "^.+\\.png$", "^.+\\.jpg", "^.+\\.s?css$"]
        ]
      }
    ]
  }
}
