.status {
    display: flex;
    cursor: default;
    &.queued {
        & svg {
            color: var(--color-blue)
        }
    }
    &.submitted,
    &.stopping,
    &.stopped,
    &.aborting {
        & svg {
            color: var(--color-gray)
        }
    }
    &.running {
        & svg {
            color: var(--color-blue)
        }
    }
    &.aborted,
    &.failed {
        & svg {
            color: var(--color-alert-text)
        }
    }
    &.done {
        & svg {
            color: var(--color-green)
        }
    }
    &.availabilityIssues {
        & svg {
            color: var(--color-orange);
        }
    }
    & svg + svg {
        margin-left: 8px;
    }
    & svg {
        display: block;
    }
}
