.empty {
    border: 1px solid var(--color-light-gray);
    border-radius: 6px;
    padding: 16px 27px 20px 20px;
}
.title {
    font-weight: 500;
    @mixin textStyle 14, 20;
    margin-bottom: 4px;
}
.text {
    @mixin textStyle 14, 20;
}
.step {
    margin-top: 20px;
    margin-bottom: 20px;
}
.stepTitle {
    font-weight: 500;
    @mixin textStyle 14, 20;
    margin-bottom: 8px;
}
.codeWrapper {
    position: relative;
}
.codeViewer {
    border: none;
    background-color: rgba(228, 228, 231, .2);
}
.copy {
    position: absolute;
    top: 8px;
    right: 10px;
}
