.footer {
    & .container {
        padding-top: 16px;
        border-top: 1px solid var(--color-light-gray);
        @mixin landingContainer;
        @media (--desktop) {
            display: flex;
            padding-left: 0;
            padding-right: 0;
        }
    }
    & .footerLogoCopyright {
        flex-shrink: 0;
        margin-right: auto;
        margin-top: 6px;
        @media (--no-desktop) {
            & br {
                display: none;
            }
        }
    }
    & .copyright {
        @mixin textStyle 16, 24;
        color: var(--color-medium-gray);
    }
    & .footerMenus {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        margin-top: 30px;
        @media (--desktop) {
            margin-left: 40px;
            margin-top: 0;
        }
    }
    & .footerMenu {
        padding-left: 0;
        flex-basis: 33%;
        flex-grow: 1;
        min-width: 100px;
        @media (--no-mobile) {
            flex-grow: initial;
            flex-basis: initial;
            min-width: initial;
        }
        & .footerMenuTitle {
            @mixin textStyle 18, 28;
            font-weight: 600;
        }
        & .footerMenuList {
            margin-top: 12px;
        }
        & .footerMenuItem {
            &:nth-child(n+2) {
                margin-top: 14px;
            }
            &.githubWidget {
                margin-top: 14px;
                margin-bottom: -3px;
            }
            & a {
                @mixin textStyle 16, 24;
                color: var(--color-black);
                &:hover {
                    color: var(--color-black-hover);
                }
            }
        }
        & .footerSocialList {
            margin-top: 12px;
            display: flex;
        }
        & .footerSocialItem {
            &:nth-child(n+2) {
                margin-left: 8px;
            }
            & a {
                @mixin textStyle 18, 28;
                color: var(--color-medium-gray);
                &:hover {
                    color: var(--color-black-hover);
                }
            }
        }
    }
}
