**/__pycache__/
*.py[co]
*.egg-info

dist/
venv/
/site/
/.cache/
.pytest_cache/
.coverage

.idea/

/runner/cmd/shim/shim
/runner/cmd/runner/runner

/src/dstack/_internal/server/statics

build/
.DS_Store
.fleet
.env
.envrc
.vscode
.aider*
uv.lock
