**/__pycache__/
*.py[co]
*.egg-info

dist/
build/
venv/
/site/
/.cache/
.pytest_cache/
.coverage

.idea/
.fleet
.vscode
.aider*
.local/
.DS_Store
.env
.envrc
uv.lock

/runner/cmd/shim/shim
/runner/cmd/runner/runner

/src/dstack/_internal/server/statics

profiling_results.html
