build~=1.2  # For building dstack-gateway wheels
pre-commit
httpx>=0.23
pytest~=7.2
pytest-asyncio>=0.21
pytest-httpbin==2.1.0
freezegun>=1.2.0
ruff==0.5.3  # Should match .pre-commit-config.yaml
testcontainers # testcontainers<4 may not work with asyncpg

# Documentation
mkdocs-material
mkdocs-material[imaging]
mkdocs-material-extensions
mkdocs-redirects
mkdocs-gen-files
mkdocstrings[python]
mkdocs-render-swagger-plugin