:root {
    --content-width: calc(var(--app-content-width) + var(--main-content-horizontal-padding) * 2);
}

.layout {
    position: relative;
    display: grid;
    grid-template-columns: 1fr minmax(max-content, var(--content-width)) 1fr;
    grid-template-rows: var(--app-header-height) auto 1fr;
    grid-template-areas: "header header header"
                         "notifications notifications notifications"
                         ". content .";
    max-width: 100vw;
    min-height: 100vh;
}
.header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: var(--app-header-z-index);
    & .avatar {
        margin-left: auto;
        flex-shrink: 0;
        cursor: pointer;
        &.github {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
            & img {
                max-width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }
}
.notifications {
    grid-area: notifications;
}
.progress {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: 0;
    background-color: transparent;
    & > div {
        background: linear-gradient(270deg, #FB5A5A 13.3%, #FAF447 31.03%, #4EF869 42.55%, #51E0E0 55.85%, #6F34ED 71.81%, #EB1FEF 84.22%, #EF1F38 97.07%);
    }
}
.userName {
    display: flex;
    align-items: center;
    color: var(--color-medium-gray);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    & svg {
        flex-shrink: 0;
        margin-right: 4px;
    }
}
.content {
    grid-area: content;
    padding: var(--main-content-vertical-padding) var(--main-content-horizontal-padding);
    max-width: var(--content-width);
}
