.button {
    padding: 0 !important;
    min-height: 0 !important;
    height: 20px !important;
    & svg {
        color: var(--color-gray);
    }
    & span {
        padding-left: 7px;
    }
}
.modal {
    height: 400px;
}
.modalContent {
    overflow-y: auto;
}

