.variable {
    padding: 2px 12px;
    /*margin-left: -12px;*/
    @mixin textStyle 14, 20;
    letter-spacing: -0.02em;
    color: var(--color-blue);
    background: #eef6ff;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color .2s ease-out, color .2s ease-out;
    &:hover {
        color: var(--color-blue-hover);
        background-color: #dfeefc;
    }
}
