.header {
    z-index: 10;
    & .container {
        display: flex;
        align-items: center;
        padding-top: 18px;
        padding-bottom: 18px;
        @mixin landingContainer;
        @media (--no-mobile) {
            padding-top: 44px;
            padding-bottom: 44px;
        }
    }
    & .logo {
        flex-shrink: 0;
        margin-right: auto;
    }
    & .menu {
        padding: 0;
        margin: 0;
        @media (--mobile) {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding-top: 56px;
            padding-bottom: 26px;
            background-color: var(--logo-landing-background);
            box-shadow: 0 0 10px 4px rgb(0, 0, 0, .2);
            &:not(.show) {
                display: none;
            }
        }
        & .close {
            position: absolute;
            top: 17px;
            right: 20px;
            @media (--no-mobile) {
                display: none;
            }
        }
    }
    & .links {
        @media (--desktop) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
        }
    }
    & .link {
        @mixin textStyle 20, 30;
        color: var(--color-black-hover);
        transition-property: background-color, color;
        transition-duration: .2s;
        transition-timing-function: ease-out;
        @media (--mobile) {
            display: block;
            padding: 14px 20px;
            &:hover {
                background-color: var(--color-black-hover);
            }
        }
        @media (--no-mobile) {
            flex-shrink: 0;
            margin-right: 28px;
            @mixin textStyle 17, 28;
            &:hover {
                color: var(--color-black-hover);
            }
        }
    }
    & .headerButton {
        margin-left: 12px;
        & button {
            @mixin textStyle 20, 28;
            @media (--mobile) {
                margin-top: 14px;
                height: 40px !important;
                padding: 0 30px !important;
            }
            @media (--no-mobile) {
                @mixin textStyle 16, 28;
            }
        }
        @media (--mobile) {
            margin-left: 20px;
        }
    }
    & .ctaButton {
        & button {
            border: 1px solid var(--color-black);
            & svg {
                position: relative;
                top: 3px;
            }
        }
    }
    & .signInButton {
        & button {
            background-color: var(--color-white) !important;
        }
    }
    & .signUpButton {
        & button {
            border: 1px solid var(--color-blue);
        }
    }
    & .menuButton {
        flex-shrink: 0;
        margin-left: 20px;
        @media (--no-mobile) {
            display: none;
        }
    }
}
