.tag {
    display: flex;
    align-items: center;
    height: var(--tag-height);
    max-width: fit-content;
    padding: 3px 10px;
    border-radius: 4px;
    color: var(--color-blue);
    background-color: var(--color-tag-background);
    @mixin textStyle 14, 20;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: background-color .2s ease;
    &.pointer {
        cursor: pointer;
        &:hover {
            background-color: var(--color-tag-background-hover);
        }
    }
    &.widthClose {
        padding-right: 4px;
    }
    & .icon {
        flex-shrink: 0;
        margin-right: 4px;
    }
    & .close {
        margin-left: 6px;
    }
}
