.section {

}
.title {
    @mixin textStyle 14, 20;
    font-weight: 500;
    color: var(--color-black);
}
.form {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 210px);
    gap: 16px
}
.controlsField {
    grid-column: span 2;
}
.buttons {
    display: flex;
}
.applyButton {
    &:global(.color-gray.type-transparent) {
        color: var(--color-green);
        &:hover {
            color: var(--color-green-hover);
        }
    }
}
.message {
    display: flex;
    align-items: center;
    margin-left: 8px;
    @mixin textStyle 12, 16;
    color: var(--color-gray);
    &:global(.success) {
        color: var(--color-green);
    }
    &:global(.fail) {
        color: var(--color-alert-text);
    }
    & svg {
        margin-left: 4px;
    }
}
