@use '@cloudscape-design/design-tokens/index' as awsui;

.noFleetAlert {
  margin: 12px 0 0;
}

.wizardForm {
  & [class^="awsui_wizard"] {
    & [class^="awsui_footer"] {
      position: sticky;
      bottom: 0;
      background-color: awsui.$color-background-layout-main;
      margin-block-start: 0 !important;
      padding-top: awsui.$space-scaled-l;
      z-index: 100;
    }
  }
}
