body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    //-webkit-font-smoothing: antialiased;
    //-moz-osx-font-smoothing: grayscale;
    //text-rendering: optimizeLegibility;
    min-height: 100vh;
}

button {

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
    box-sizing: border-box;
}

ul,ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
