.tabs {
    display: flex;
    overflow-x: auto;
    & .tabsContainer {
        display: flex;
        align-items: center;
        padding: 1px;
        margin-left: auto;
        margin-right: auto;
        background: rgba(236, 236, 238, 0.05);
        border-radius: 20px;
    }
    & .tab {
        position: relative;
        padding: 6px 17px;
        @mixin textStyle 14, 19;
        letter-spacing: 0.05em;
        color: rgba(255, 255, 255, 0.6);
        transition: color .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out;
        cursor: pointer;
        border-radius: inherit;
        &:hover,
        &:global(.active) {
            color: rgba(255, 255, 255, 0.9);
        }
        &:global(.active) {
            /*pointer-events: none;*/
            background: rgba(37, 41, 53, 0.9);
            /*box-shadow: 0 0 6px rgba(0, 0, 0, 0.06);*/
        }
    }
}
