.row {
    border-bottom: none;
    & > * {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}
.iconContainer {
    width: 14px;
}
.alertIcon {
    color: var(--color-orange);
}
.delete {
    margin-left: 60px;
}
.maximum {
    height: 20px;
    display: flex;
    align-items: center;
    & .value {
        margin-right: 8px;
    }
    & .input {
        width: 38px;
        margin-right: 4px;
    }
    & .button {
        width: 16px !important;
    }
    & .applyButton {
        &:global(.color-gray.type-transparent) {
            color: var(--color-green);
            &:hover {
                color: var(--color-green-hover);
            }
        }
    }
}