.variables {
    display: flex;
    align-items: center;
    max-width: 100%;
}
.variable {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 115px;
}
.otherCount {
    flex-shrink: 0;
    margin-left: 2px;
    width: auto !important;
    padding: 0 !important;
}