.header {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 30px;
    border-bottom: 1px solid var(--color-light-gray);
    background-color: var(--color-white);
    height: var(--app-header-height);
}
.logo {
    flex-shrink: 0;
}
