.secrets {
    margin-top: 12px;
}
.token {
    display: flex;
    align-items: center;
    letter-spacing: -0.4px;
    font-family: Menlo, monospace;
}
.fields {
    display: grid;
    grid-template-columns: repeat(auto-fill, 210px);
    gap: 20px;
    margin-top: 12px;
}
.supMessage {
    margin-top: 4px;
    @mixin textStyle 14, 20;
    color: var(--color-medium-gray);
}
.cliCodeWrap {
    position: relative;
    max-width: 603px;
    margin-top: 16px;
}
.copy {
    position: absolute;
    top: 8px;
    right: 10px;
}
.cliCode {
    & > pre {
        padding: 8px 36px 8px 12px;
    }
}
