.card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100px;
    border: 1px solid var(--color-light-gray);
    border-radius: 6px;
    padding: 12px 12px 10px;
    &.failed {
        background-color: #FFF9F9;
    }
    &.warning {
        background-color: #FFFAF0;
    }
}
.topSection {
    display: flex;
    align-items: center;
    & .icon {
        flex-shrink: 0;
        @mixin textStyle 14, 20;
        margin-right: 8px;
    }
    & .name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 500;
        @mixin textStyle 14, 20;
        color: var(--color-black);
        transition: color .2s ease-out;
        margin-right: auto;
        &:hover {
            color: var(--color-blue-hover);
        }
    }
    & .tag {
        margin-left: 8px;
        cursor: pointer;
        color: var(--color-gray);
        transition: color .2s ease-out;
        &:hover {
            color: var(--color-blue-hover);
        }
    }
    & .dropdownButton {
        flex-shrink: 0;
        margin-left: 4px;
    }
}
.run {
    margin-top: 2px;
    @mixin textStyle 13, 18;
    color: var(--color-medium-gray);
}
.bottomSection {
    display: flex;
    align-items: flex-end;
    margin-top: auto;
}
.points {
    display: flex;
    gap: 8px;
    margin-right: auto;
}
.point {
    overflow: hidden;
    display: flex;
    align-items: center;
    @mixin textStyle 13, 18;
    color: var(--color-medium-gray);
    white-space: nowrap;
    text-overflow: ellipsis;
    &.clickable {
        cursor: pointer;
        transition: color .2s ease-out;
        &:hover {
            color: var(--color-blue-hover);
            & svg {
                color: var(--color-blue-hover);
            }
        }
    }
    & svg {
        flex-shrink: 0;
        color: var(--color-gray);
        margin-right: 4px;
        transition: color .2s ease-out;
    }
}
.statusText {
    margin-left: 8px;
    @mixin textStyle 13, 18;
    color: var(--color-medium-gray);
    &.failed {
        color: var(--color-red-hover);
    }
    &.warning {
        color: #C98B52;
    }
}
.progress {
    position: absolute;
    bottom: 0;
    left: 3px;
    right: 3px;
}
.openApp {
    margin-left: 8px;
}
