@use '@cloudscape-design/design-tokens/index' as awsui;

.selectFilters {
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;

  .filterField {
    flex-shrink: 0;
    width: 240px;
  }

  .propertyFilter {
    max-width: 640px;
    flex-grow: 1;
    min-width: 0;
  }
}

.greyText {
  color: awsui.$color-text-status-inactive;
}

.greenText {
  color: awsui.$color-text-status-success;
}
