requests
pyyaml
gitpython
boto3
tqdm
jsonschema
botocore
python-dateutil
paramiko
git-url-parse
rich
rich-argparse
fastapi
starlette
uvicorn
pydantic
sqlalchemy[asyncio]
py-cpuinfo
psutil
websocket-client
cursor
simple-term-menu
jinja2
pygtail
google-cloud-storage
google-cloud-compute
google-cloud-secret-manager
google-cloud-logging
aiosqlite
packaging
