requests
pyyaml
gitpython
tqdm
jsonschema
python-dateutil
paramiko
git-url-parse
rich
rich-argparse
fastapi
starlette
uvicorn
pydantic
sqlalchemy[asyncio]
py-cpuinfo
websocket-client
cursor
simple-term-menu
pygtail
aiosqlite
packaging
alembic
apscheduler
typing-extensions
file-read-backwards
psutil
cryptography
filelock

# AWS
boto3
botocore

# Azure
azure-identity
azure-keyvault-secrets
azure-storage-blob
azure-mgmt-subscription
azure-mgmt-compute
azure-mgmt-network
azure-mgmt-resource
azure-mgmt-authorization
azure-mgmt-storage
azure-mgmt-keyvault
azure-mgmt-loganalytics
azure-mgmt-msi
azure-mgmt-monitor
azure-graphrbac

# GCP
google-cloud-storage
google-cloud-compute
google-cloud-secret-manager
google-cloud-logging
