.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 0 20px;

    .propertyFilter {
        max-width: 640px;
        flex-grow: 1;
        min-width: 0;
    }

    .activeOnly {
        display: flex;
        padding-top: 7px;
    }

    .clear {

    }
}
