:root {
}
.section {

}
.filter {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    min-height: 20px;
    margin-bottom: 16px;
}
.switcherLabel {
    display: inline-flex;
    vertical-align: middle;
    & .switcher {
        margin-right: 8px;
        @mixin textStyle 14, 20;
    }
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(332px, 1fr));
    gap: 20px;
    & :global(.skeleton-element) {
        height: 100px;
        border-radius: 6px;
    }
}

