:root {
  --s-input-size: 28px;
  --m-input-size: 40px;
  --s-checkbox-size: 14px;
  --m-checkbox-size: 20px;
}

.inputWrapper {
  display: flex;
  &:global(.checkbox) {
    position: relative;
    &:global(.dimension-s) {
      width: var(--s-checkbox-size);
      height: var(--s-checkbox-size);
    }
    &:global(.dimension-m) {
      width: var(--m-checkbox-size);
      height: var(--m-checkbox-size);
    }
  }
  &:not(:global(.checkbox)) {
    &:global(.dimension-s) {
      & .input {
        height: var(--s-input-size);
      }
    }
    &:global(.dimension-m) {
      & .input {
        height: var(--m-input-size);
      }
    }
  }
  &:global(.password) {
    position: relative;
    & .input {
      padding-right: 32px;
    }
  }
}

.input {
  background: none;
  &[type="text"],
  &[type="tel"],
  &[type="email"],
  &[type="password"],
  &[type="date"],
  &[type="datetime"],
  &[type="datetime-local"],
  &[type="number"],
  &[type="time"],
  &[type="url"],
  &[type="month"],
  &[type="week"],
  &[type="search"] {
    flex-grow: 1;
    min-width: 0;
    flex-basis: 0;
    border: 1px solid var(--color-gray);
    padding: 4px 8px;
    border-radius: 4px;
    color: var(--color-black);
    outline: none;
    transition: border-color .2s ease-out;
    @mixin textStyle 14, 20;
    &::placeholder {
      color: var(--color-gray);
    }
    &:focus {
      border-color: var(--color-blue);
    }
    &[disabled] {
      color: var(--color-medium-gray);
      background: rgba(236, 236, 238, 0.5);
    }
    &.withError {
      border-color: var(--color-alert-text) !important;
    }
  }
  &[type="checkbox"] {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 2px;
    cursor: pointer;
    opacity: 0;
    &:checked {
      & + .checkbox {
        border-color: var(--color-blue);
        background-color: var(--color-blue);
        & > svg {
          opacity: 1;
        }
      }
    }
  }
}
.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  border: 1px solid var(--color-gray);
  border-radius: 2px;
  color: var(--color-white);
  transition-duration: .2s;
  transition-timing-function: ease-out;
  transition-property: border-color, background-color;
  & svg {
    transition: opacity .2s ease-out;
  }
}
.togglePassword {
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
}
