.details {
    padding-top: 12px;
    padding-bottom: 20px;
}
.header {
    display: flex;
    align-items: center;
}
.title {
    margin-right: auto;
}
.rightSide {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.button {
    margin-left: 8px;
}
.content {
    margin-top: 12px;
}

