.value {
  display: flex;
  align-items: center;
  gap: 20px;
}
.valueFieldWrapper {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 400px;
}
.buttonsWrapper {
  min-width: 96px;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  margin-left: auto;
}
