code[class*="language-"], pre[class*="language-"] {
    text-shadow: none;
    color: var(--color-light-gray);
    line-height: 0;
}
.code {
    position: relative;
    border-radius: 4px;
    border: 1px solid var(--color-light-gray);
    & ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    & ::-webkit-scrollbar-thumb {
    }
    & :hover::-webkit-scrollbar-thumb {
        background-color: #303345;
        border-radius: 5px;
    }
    & :hover::-webkit-scrollbar-track {
    }
    & > pre {
        margin: 0 !important;
        padding: 18px 25px;
        background: none !important;
        white-space: pre-wrap;
        @mixin textStyle 15, 20;
        & > code {
            font-family: 'IMB  Plex Mono', monospace;
            letter-spacing: -0.4px;
            padding: 0;
            font-weight: 500;
            background: none !important;
            & :global(.token.atrule),
            & :global(.token.attr-value),
            & :global(.token.keyword ){
                color: rgb(132, 221, 241);
                font-weight: bold;
            }

            & :global(.token.number) {
                color: inherit;
            }

            & :global(.token.punctuation) {
                color: rgb(210, 227, 129);
            }

            & :global(.token.selector),
            & :global(.token.attr-name),
            & :global(.token.string),
            & :global(.token.char),
            & :global(.token.builtin),
            & :global(.token.inserted) {
                color: rgb(255, 113, 197);
            }
            & :global(.token.progress-measure-1) {
                color: #43c769;
            }
            & :global(.token.progress-measure-2) {
                color: #c9494e;
            }
            & :global(.token.progress-measure-3) {
                color: #71bccc;
            }
            & :global(.token.table) {
                font-size: 100.3%
            }
            & :global(.token.table-run-name) {
                color: rgb(210, 227, 129);
                font-size: 100.3%;
                font-weight: 600;
            }
            & :global(.token.table-provisioning) {
                color: rgb(210, 227, 129);
                font-size: 100.3%;
            }
            & :global(.token.table-fields) {
                color: var(--color-gray);
                font-size: 100.3%;
            }
            & :global(.token.table-gray) {
                color: var(--color-medium-gray);
            }
            & :global(.token.table-green) {
                color: #43c769;
            }
            & :global(.token.command) {
                font-weight: 600;
            }
            & :global(.token.command-2) {
                font-weight: 600;
            }
            & :global(.token.progress) {
                color: var(--color-medium-gray);
            }
            & :global(.token.url) {
                color: rgb(194, 145, 221);
                text-decoration: underline;
                background: none;
            }
        }
    }
}

