:root {
  --switcher-width: 32px;
  --switcher-height: 20px;
  --switcher-inner-gap: 2px;
  --switcher-circle-size: calc(var(--switcher-height) - var(--switcher-inner-gap) * 2);
}

.switcherWrapper {
  position: relative;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  &:global(:not(.withAnimation)) {
    & .switcher {
      &::before {
        transition: none;
      }
    }
  }
  &.disabled {
    opacity: .5;
    pointer-events: none;
  }
}

.checkbox {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--switcher-height);
  height: var(--switcher-height);
  border-radius: calc(var(--switcher-height) / 2);
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  &:checked {
    & + .switcher {
      background-color: var(--color-blue);
      &::before {
        transform: translateX(calc(var(--switcher-width) - var(--switcher-circle-size) - var(--switcher-inner-gap) * 2));
      }
    }
  }
}
.switcher {
  position: relative;
  width: var(--switcher-width);
  height: var(--switcher-height);
  border-radius: calc(var(--switcher-height) / 2);
  background-color: var(--color-gray);
  transition: background-color .2s ease-out;
  &::before {
    content: "";
    position: absolute;
    top: var(--switcher-inner-gap);
    left: var(--switcher-inner-gap);
    width: var(--switcher-circle-size);
    height: var(--switcher-circle-size);
    border-radius: 50%;
    background-color: var(--color-white);
    transition-property: transform;
    transition-duration: .2s;
    transition-timing-function: ease-out;
  }
}
