.bucketSelector {
    &:global(.disabled) {
        & * {
            pointer-events: none!important;
        }
        & input {
            background-color: #e9ebed !important;
            background-color: var(--color-background-input-disabled-wu9j6u, #e9ebed) !important;
            border: 2px solid #e9ebed !important;
            border: var(--border-field-width-idlekx, 2px) solid var(--color-border-input-disabled-x2lopj, #e9ebed) !important;
            color: #9ba7b6 !important;
            color: var(--color-text-input-disabled-oawyzo, #9ba7b6) !important;
            cursor: auto !important;
            cursor: default !important;
        }

        & button {
            background: #ffffff !important;
            background: var(--color-background-button-normal-disabled-z5vd4i, #ffffff) !important;
            border-color: #9ba7b6 !important;
            border-color: var(--color-border-button-normal-disabled-262a0x, #9ba7b6) !important;
            color: #9ba7b6 !important;
            color: var(--color-text-interactive-disabled-3pbb07, #9ba7b6) !important;
            text-decoration: none !important;
            pointer-events: none !important;
            cursor: auto !important;
        }
    }
}
