.layout {
    min-height: 100vh;
    display: grid;
    grid-template-rows: var(--app-header-height) auto 1fr;
    grid-template-areas: "header"
                         "notifications"
                         "content";
}
.header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 2;
}
.notifications {
    grid-area: notifications;
}
.content {
    grid-area: content;
    padding: 20px 30px;
}
