.landing, .landing button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.landing {
    background-color: var(--logo-landing-background);
}

.container {
    @mixin landingContainer;
}
.topLinks {
    background-color: #E6EEFB;
    position: relative;
    z-index: 1;
    padding: 10px 0;
    text-align: center;
    @mixin textStyle 16, 24;
    & a {
        color: var(--color-lilac);
        transition: color .2s ease-out;
        &:hover {
            color: var(--color-lilac-hover);
        }
    }
}

.content {
    margin-top: 130px;
}
.section {
    &:nth-child(n+2) {
        margin-top: 145px;
        @media (--mobile) {
            margin-top: 80px;
        }
    }
}

section:first-of-type .sectionTitle {
    @mixin textStyle 64, 86;
    font-weight: 700;
    @media (--mobile) {
        @mixin textStyle 36, 44;
    }
}

.sectionTitle {
    font-family: "Poppins", sans-serif;
    max-width: 800px;
    margin: 0 auto 12px auto;
    font-weight: 600;
    @mixin textStyle 30, 40;
    color: var(--color-black-hover);
    &.invite {
        max-width: 760px;
    }
    @media (--no-mobile) {
        text-align: center;
        margin: 0 auto 16px auto;
        @mixin textStyle 34, 44;
    }
}

.sectionText {
    max-width: 640px;
    margin: 0 auto;
    @mixin textStyle 16, 22;
    opacity: .9;
    @media (--no-mobile) {
        text-align: center;
        @mixin textStyle 20, 30;
    }
}
.screenShot {
    display: none;
    @media (--no-mobile) {
        display: block;
        text-align: center;
        vertical-align: bottom;
        margin: 60px auto 0;
        max-width: 1180px;
    }
    & img {
        /*border-radius: 8px;*/
        box-sizing: border-box;
        /*filter: drop-shadow(0px 14px 24px rgba(35, 36, 41, 0.06));*/
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
}
.firstInviteForm {
    margin-top: 24px;
    @media (--no-mobile) {
        margin-top: 41px;
    }
    & button {
        font-weight: 500;
    }
}
.secondInviteForm {
    margin-top: 30px;
    @media (--no-mobile) {
        margin-top: 40px;
    }
    & button {
        font-weight: 500;
    }
}
.opportunities {
    margin-top: 50px;
}
.tools {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 16px;
    margin-top: 20px;
    @media (--no-mobile) {
        margin-top: 30px;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 35px;
        grid-row-gap: 35px;
    }
    @media (--desktop) {
        margin-top: 50px;
        grid-template-columns: repeat(4, 1fr);
    }
}
.withAmbreBg {
    position: relative;
    &:not(:hover) {
        &::before {
            opacity: 0;
        }
    }
    /*&::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: inherit;
        background-image: image-set(url(assets/images/landing/opportunity-bg.png) 1x, url(assets/images/landing/opportunity-bg@2x.png) 2x);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: opacity .2s ease-out;
    }*/
}
.tool {
    min-height: 162px;
    padding: 30px 30px 35px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid #303440;
    @media (--no-mobile) {
        min-height: 230px;
    }
}
.toolTitle {
    position: relative;
    @mixin textStyle 19, 26;
    letter-spacing: -0.1px;
    font-weight: 600;
    margin: 0;
    @media (--no-mobile) {
        @mixin textStyle 20, 30;
    }
}
.toolText {
    position: relative;
    @mixin textStyle 16, 24;
    margin: 14px 0 0;
    @media (--no-mobile) {
        @mixin textStyle 16, 28;
    }
}
.providers {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin-top: 20px;
    @media (--no-mobile) {
        margin-top: 30px;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    @media (--desktop) {
        margin-top: 50px;
        grid-template-columns: repeat(4, 1fr);
    }
}
.provider {
    padding: 16px 24px;
    border-radius: 6px;
    transition: background-color .2s ease-out;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px rgba(9, 12, 13, 0.06),0 1px 1px hsla(222,8%,43%,.05),-1px 8px 8px -8px hsla(222,8%,43%,.2);
    & .providerName {
        position: relative;
        font-family: 'IBM Plex Mono', monospace;
        font-weight: 600;
        @mixin textStyle 18, 26;
        color: var(--color-black-hover);
    }
    & .providerDesc {
        position: relative;
        margin-top: 6px;
        @mixin textStyle 16, 26;
        color: var(--color-black);
    }
    & .providerTags {
      position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 13px;
        margin-top: 18px;
    }
}
.plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 450px));
    justify-content: center;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin-top: 20px;
    @media (--no-mobile) {
        margin-top: 30px;
        grid-column-gap: 37px;
        grid-row-gap: 37px;
    }
    @media (--desktop) {
        margin-top: 50px;
        grid-template-columns: repeat(auto-fit, minmax(260px, 450px));
    }
}
.plan {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px dotted var(--color-gray);
    background-color: var(--color-white);
    @media (--desktop) {
        min-height: 516px;
    }
    & .planHead {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    & .planTitle {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        @mixin textStyle 28, 34;
        color: var(--color-black);
    }
    & .planPrice {
        @mixin textStyle 18, 30;
        font-weight: 600;
        color: var(--color-black);
    }
    & .planDesc {
        max-width: 200px;
        min-height: 52px;
        margin-top: 20px;
        @mixin textStyle 18, 26;
        font-weight: 400;
        color: var(--color-black);
    }
    & .planOpportunities {
        margin-top: 20px;
        max-width: 310px;
        font-weight: 400;
        @mixin textStyle 18, 26;
        color: var(--color-black);
    }
    & hr {
        height: 1px;
        border: none;
        background-color: var(--color-light-gray);
        margin-top: 16px;
        margin-bottom: 10px;
        width: 100%;
    }
    & .planProps {
        flex: 1 0 0;
    }
    & .planProp {
        flex: 1 0 0;
        @mixin textStyle 18, 34;
        font-weight: 400;
        margin-left: 45px;
        position: relative;
        & span {
            position: absolute;
            left: -45px;
            display: inline-block;
            min-width: 18px;
            color: var(--color-blue);
            text-align: center;
            & svg {
                vertical-align: middle;
            }
        }
    }
    & .planInfo {
        position: relative;
        margin-top: 16px;
        padding: 6px 12px 6px 12px;
        @mixin textStyle 16, 24;
        font-weight: 400;
        color: var(--color-medium-gray);
    }
    & .planCommand {
        position: relative;
        margin-top: 16px;
        background: rgba(236, 236, 238, .6);
        border-radius: 4px;
        padding: 6px 36px 6px 12px;
        font-family: 'Roboto Mono', monospace;
        @mixin textStyle 16, 24;
        font-weight: 400;
        color: var(--color-medium-gray);
    }
    & .planCommandCopy {
        position: absolute;
        top: 4px;
        right: 6px;
    }
    & .planButton {
        margin-top: 20px;
        font-weight: 500;
        justify-content: center;
        & div {
            @mixin textStyle 16, 24
        }
    }
}
.allProviders {
    display: flex;
    align-items: center;
    align-self: center;
    justify-self: center;
    white-space: nowrap;
    & > svg {
        margin-left: 8px;
    }
    @mixin textStyle 17, 26;
}
.slider {
    margin-top: 34px;
    @media (--no-mobile) {
        margin-top: 50px;
    }
}
.usedWithTitle {
    margin-top: 80px;
    @mixin textStyle 20, 28;
    font-weight: 600;
    @media (--no-mobile) {
        max-width: 780px;
        margin-top: 100px;
        @mixin textStyle 24, 32;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}
.usedWithList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 50px;
    margin-top: 30px;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    @media (--no-mobile) {
        margin-top: 50px;
        justify-content: center;
    }
}
.usedWithItem {
    filter: grayscale(1);
    transition: filter 0.15s ease;
    &:hover {
        filter: grayscale(0);
    }
    & img {
        max-width: 180px;
        max-height: 80px;
        object-fit: contain;
        object-position: center;
    }
}
.footer {
    padding-top: 110px;
    padding-bottom: 68px;
    @media (--desktop) {
        padding-top: 190px;
    }
}
