.searchInput {
    position: relative;
}
.inputElement {
    padding-right: 26px;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% - 11px);
    right: 9px;
    width: 18px;
    height: 20px;
    pointer-events: none;
    color: var(--color-gray);
    & button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: inherit;
        height: inherit;
        background: none;
        box-shadow: none;
        border-radius: 0;
        padding: 0;
        margin: 0;
        border: none;
        cursor: pointer;
        color: inherit;
        pointer-events: auto;
    }
}
