@media screen and (min-width: 76.1875em) {
    .md-header {
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0);
        border-bottom: 0.5px dotted rgba(0, 0, 0, 1);
        padding-bottom: 2px;
    }

    [dir=ltr] .md-header__source {
        margin-left: 0;
        width: 10rem;
    }

    .md-source__facts {
        font-size: 0.6rem;
    }

    .md-source__fact:before {
        height: 0.75rem;
    }

    .md-source {
        font-size: 0.75rem;
    }
}

[dir=ltr] .md-typeset :is(.admonition,details) pre,
[dir=ltr] .md-typeset :is(.admonition,details) :is(.admonition,details, .termy) {
    margin-left: 32px;
}

[dir=ltr] .md-typeset :is(.md-typeset__scrollwrap,p,h4,h3,.tabbed-set,ul):not(.admonition-title) :is(.admonition,details, .termy) {
    margin-left: 0;
}

@media screen and (max-width: 76.1875em) {
    .md-header {
        background-color: rgb(255, 255, 255);
    }
}

#kapa-widget-container .mantine-Text-root {
    font-size: 16.5px !important;
    font-weight: 500;
    color: rgba(0, 0, 0, 1.87) !important;
    text-shadow: none !important;
    /*letter-spacing: -0.5px;*/
    line-height: 1.2;
}

#kapa-widget-container .mantine-Button-inner:focus-visible {
    border: none !important;
}

#kapa-widget-container .mantine-Button-root {
    height: 3.5rem !important;
    width: 3.5rem !important;
    background: rgba(255,255,255, 0.5) !important;
    box-shadow: none !important;
    border: 0.5px solid black !important;
    border-radius: 4px;
}

#kapa-widget-container .mantine-Image-image {
    width: 27.5px !important;
    height: 27.5px !important;;
}

#kapa-widget-container .mantine-Image-root {
    width: 27.5px !important;
}

.mantine-Modal-body .mantine-Input-input {
    font-size: 18px !important;
}

.mantine-Modal-body .mantine-Text-root, .mantine-Modal-body .mantine-List-root, .mantine-Modal-body .mantine-List-item, .mantine-Modal-body .mantine-Prism-code {
    font-size: 17px !important;
}

.md-copyright {
    width: inherit;
}

.md-copyright__highlight {
    font-size: 0.75rem;
    margin-top: -8px;
}

.md-copyright__highlight a {
    font-weight: 700;
}

.md-footer {
    /*border-top: 1px solid #E4E4E7;*/
}
.md-typeset a.md-footer__link {
    margin: 0.5rem 0 0.4rem;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    flex: 1;
}

.md-footer__link:focus, .md-footer__link:hover {
    opacity: 1;
}

.md-typeset a.md-footer__link:hover .md-ellipsis {
    opacity: 1;
}

.md-footer__title {
    font-size: 17px;
}

.md-footer__link--prev .md-footer__title {
    display: block;
}

.md-footer__direction {
    opacity: 1;
    font-weight: 800;
}

.md-footer__title {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    padding: 0;
}

.md-header[data-md-state=shadow] {
    box-shadow: none;
}
.md-sidebar__scrollwrap {
    margin-top: -25px;
    overflow-y: hidden;

    -webkit-mask-image: linear-gradient(rgba(0,0,0,1) 85%, rgba(0,0,0,0));
    mask-image: linear-gradient(rgba(0,0,0,1) 85%, rgba(0,0,0,0));

    padding-bottom: 40px;
}

.md-sidebar__scrollwrap:hover {
    overflow-y: scroll;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, white 0%, white 4%, #e5e5e9 5%, #e5e5e9 93%, white 94%, white 100%);
    border-radius: 2px;
    padding-top: 200px;
}

.md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: var(--md-default-fg-color--lighter)
}

.md-typeset :is(.admonition,details):is(.info,.tip,.warning,.c) {
    background-color: rgba(0,0,0,0.005);
    border-color: rgba(0,0,0,0.6);
}

.md-typeset :is(.info,.tip,.warning)>:is(.admonition-title) {
    color: var(--md-default-fg-color);
}

.md-typeset :is(.info,.tip,.warning)>:is(.admonition-title,summary):before,
.md-typeset :is(.info,.tip,.warning)>:is(.admonition-title,summary):after {
    background-color: var(--md-default-fg-color);
}

[dir=ltr] .md-typeset :is(details) {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.87);
    border-width: 1px;
    border-radius: 6px;
    box-shadow: none;
    padding: .6rem .8rem;
    background: none;
}

[dir=ltr] .md-typeset :is(.admonition) {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.87);
    border-width: 1px;
    border-radius: 6px;
    box-shadow: none;
    padding: .6rem .8rem;
    /*background: -webkit-linear-gradient(45deg, rgba(0, 42, 255, 0.1), rgb(0 114 255 / 1%), rgba(0, 42, 255, 0.05));*/
}

.md-typeset iframe {
    border-radius: 6px;
}

[dir=ltr] .md-typeset :is(.admonition,details) blockquote {
    margin-left: 32px;
}

[dir=ltr] .md-typeset :is(.admonition,details):not(blockquote) > :is(.md-typeset__scrollwrap,p,h4,h3,.tabbed-set,ul):not(.admonition-title) {
    padding-left: 32px;
}

.md-typeset__scrollwrap {
    margin-top: 0;
    margin-bottom: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.md-typeset__table {
    margin-bottom: 0;
}

.admonition-title, details > summary {
    border: none !important;
    background-color: transparent !important;
}

.md-typeset .admonition, .md-typeset details {
    font-size: 1em;
}

[dir=ltr] .md-typeset :is(.admonition-title,summary) {
    font-size: 18px !important;
    /*letter-spacing: -0.5px;*/
    /*font-weight: 800;*/
    font-weight: 700;
    /*padding-left: 18px;*/
    padding-bottom: 0;
    border: none;
    border-radius: 0;
}

.md-typeset .admonition.info:focus-within, .md-typeset details.info:focus-within {
    box-shadow: none;
}

.md-typeset :is(.info,.tip, .warning)>:is(.admonition-title) {
    margin-bottom: -12px;
}

.md-typeset :is(.info,.tip, .warning)>:is(summary) {
    margin-bottom: 12px;
    font-size: 1.1em !important;
}

.md-typeset :is(.info,.tip, .warning)>:is(.admonition-title,summary):before {
    /*display: none;*/
}

.md-header__title {
    margin-left: 1px !important;
    font-weight: 700;
    font-size: 20px;
    /*padding-top: 2px;*/
}

@media screen and (min-width: 76.1875em) {
    .md-header__topic:first-child {
        font-size: 24px;
        /*font-family: Poppins, metro-web, Metro, -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;*/
        /*font-weight: 500;*/
    }

    .md-header__title {
        flex-grow: unset;
    }

    .md-header__topic {
        position: relative;
    }

    .md-header__title--active .md-header__topic {
        opacity: 1;
        transition: inherit;
        transform: inherit;
        pointer-events: auto;
    }

    .md-header__title--active .md-header__topic+.md-header__topic {
        opacity: 0;
    }

    .md-header__topic+.md-header__topic {
        display: none;
    }
}

@media screen and (max-width: 76.1875em) {
    .md-nav--primary .md-nav__title .md-logo {
        padding: 0.1rem 0.4rem;
    }
    .md-nav__title .md-nav__button.md-logo :-webkit-any(img,svg) {
        max-width: 100px;
    }
    .md-nav--primary .md-nav__title {
        display: block;
        font-weight: 700;
        /*display: none;*/
        height: 10px;
    }

    .md-nav__source {
        background-color: transparent;
    }
}

.md-nav--secondary:not(:has(ul)) {
    display: none;
}

.md-nav--secondary {
    margin-top: 14px;
}

.md-nav--secondary .md-nav__title {
    background: transparent;
    box-shadow: none;
    padding: 6px 15px 5px;
    font-size: 17.5px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.87);
    position: relative;
    margin-left: 8px;
    margin-bottom: 4px;
    /*letter-spacing: -0.5px;*/
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Mono Regular'), local('FiraMono-Regular'), url(https://fonts.gstatic.com/s/firamono/v6/N0bX2SlFPv1weGeLZDtgJv7Ss9XZYQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 500;
  src: local('Fira Mono Medium'), local('FiraMono-Medium'), url(https://fonts.gstatic.com/s/firamono/v8/N0bS2SlFPv1weGeLZDto1d3HnvfUS5NBBA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Mono Bold'), local('FiraMono-Bold'), url(https://fonts.gstatic.com/s/firamono/v6/N0bS2SlFPv1weGeLZDtondvHnvfUS5NBBA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*label.md-nav__link {*/
/*    font-weight: 500;*/
/*}*/

.md-nav__link {
    margin-top: 0;
    color: black;
}

.md-nav__link:hover {
    color: var(--md-default-fg-color);
}

.md-nav__item, .md-nav__link .md-typeset {
    /*color: rgba(0,0,0,0.87);*/
    font-weight: 400;
    font-size: 0.75rem;
}

.md-nav__item .md-nav__link:hover:not(.md-nav__link--active) {
    color: black;
}

.md-typeset pre > code, .md-typeset code {
    /*-webkit-font-smoothing: auto;*/
}

.md-sidebar.md-sidebar--secondary .md-typeset code {
    color: rgba(0,0,0,0.87);
}

.md-typeset :not(pre) :is(h1, h2, h3, h4, h5, h6) > code {
    color: inherit;
    background: inherit;
    padding: 0;
}

h4.doc-heading {
    font-size: inherit;
}

.md-typeset :not(pre, h1, h2, h3, h4, h5, h6) > code {
    background-color: rgba(163, 68, 215, 0.05);
    /*border: 1px solid #dce0e6;*/
    border-radius: 2px;
    font-weight: 600;
    color: var(--md-primary-fg-color);
    text-align: center;
    padding: 4px;
    height: 16px;
    margin: 0 4px;
}

.md-typeset :is(h1, h2, h3, h4, h5, h6) > code {
    background-color: inherit;
    color: inherit;
    /*padding: 0;
    margin: 0;*/
}
.md-typeset :is(h1, h2, h3, h4, h5, h6) > a > code {
    font-size: inherit;
    color: inherit;
}


.md-typeset :is(table) :not(pre, h1, h2, h3, h4, h5, h6) > code {
    font-size: .85em;
}

.md-typeset :not(pre, h1, h2, h3, h4, h5, h6) > code {
    font-size: 0.65rem;
}

.md-typeset :not(pre, h1, h2, h3, h4, h5, h6) > a code {
    color: #ce00ff;
}

.md-typeset pre > code {
    background-color: rgb(21, 22, 29);
    padding: 65px 30px 35px 40px;
    border-radius: 3px;
    font-size: 15px;

    /*border-radius: 6px;*/
    /*border-top: 1px solid #dce0e6;*/
    /*background-color: rgba(0,0,0,.87);*/
    /*padding: 15px 20px;*/
    /*font-size: .85em;*/
    font-family: var(--md-code-font-family) !important;
    margin-top: 0;
}

.md-typeset .highlight pre > code:before, .md-typeset div[editor-title] pre > code:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    /* A little hack to display the window buttons in one pseudo element. */
    background: #d9515d;
    /*-webkit-box-shadow: 25px 0 0 #f4c025, 50px 0 0 #3ec930;*/
    /*        box-shadow: 25px 0 0 #f4c025, 50px 0 0 #3ec930;*/
    -webkit-box-shadow: 20px 0 0 #f4c025, 40px 0 0 #3ec930;
    box-shadow: 20px 0 0 #f4c025, 40px 0 0 #3ec930;
}

@media screen and (min-width: 60em) {
    [data-md-color-primary=white] .md-search__form {
        background-color: transparent;
        border-radius: 3px;
        border: 0.5px solid rgba(0, 0, 0, 0.87);
        height: 1.84rem;
    }

    [data-md-color-primary=white] .md-search__form:hover {
        background-color: transparent;
        border: 0.5px solid black
    }
}

.md-search__input {
    font-size: .7rem;
}

.md-code__button:after {
    width: 1em;
    height: 1em;
}

.md-code__nav {
    top: 0.175em;
    right: .15em;
    background: none;
}

.md-code__nav .md-code__button {
    color: #a2a2a2;
}

.md-code__nav:hover .md-code__button {
    color: #eee;
}

pre:hover .md-code__nav,
code .md-code__nav:hover {
    background: transparent;
}

code .md-code__nav:hover .md-code__button {
    color: var(--md-accent-fg-color);
}

.md-clipboard {
    top: 0.65em;
}

.md-clipboard:after {
    color: var(--md-default-fg-color--lighter);
}

.md-clipboard:hover:after {
    color: var(--md-default-fg-color--light)
}

.md-annotation:not([hidden]) {
    line-height: 1.225;
}

.md-annotation__index {
    margin-left: 0;
    margin-right: 0;
}

.md-annotation__index:after {
    background-color: rgba(0, 0, 0, 0.87);
    transform: scale(0.9);
}

@media screen and (max-width: 44.9375em) {
    .md-typeset pre > code {
        border: none;
    }
}

.footer__inner {
    background-color: var(--md-footer-bg-color--dark);
    margin-top: 0.7rem;
}

.md-footer__inner:not([hidden]) {
    gap: 20px !important;
}

.md-footer__link .md-footer__link--next {
    font-weight: 500;
}

.md-typeset .admonition.note {
    border-color: var(--md-primary-fg-color);
}

.md-typeset {
    line-height: 1.3rem;
    font-size: 0.8rem;
}

.md-typeset h1 {
    margin: 0 0 0.75em;
    font-size: 33px;
}

.md-typeset h2 {
    margin: 1.4em 0 0.64em;
    padding-top: 0.2em;
    font-size: 25px;
}

.md-typeset h1, .md-typeset h2 {
    font-weight: 400;
    /*letter-spacing: 0;*/
}

.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4, .md-typeset h5, .md-typeset h6 {
    font-weight: 800;
    /*letter-spacing: -1px;*/
    color: rgb(0, 0, 0);
    text-transform: none;
}

.md-typeset h4  {
    font-size: 19.5px;
}

.md-typeset h5  {
    font-size: 17px;
}

.md-typeset h6  {
    font-size: 15px;
}

.md-typeset h3 {
    font-size: 21.5px;
    margin-block-end: 0;
    padding-bottom: 0.7em;
    border-bottom: 1px solid rgba(243, 244, 246, 1);
}

[data-md-color-scheme=slate][data-md-color-primary=black], [data-md-color-primary=white] {
    --md-primary-fg-color: #0048ff;
    --md-accent-fg-color: #ce00ff;
    --md-typeset-a-color: #ce00ff;
    --md-code-hl-function-color: #e3b4fb;
    --md-code-hl-keyword-color: #e37cff;
    --md-code-hl-string-color: #b4f9c6;
    --md-code-fg-color: #eee;
    /*--md-code-fg-color: rgba(0, 0, 0, 0.95);*/
    --md-mermaid-label-fg-color: rgba(0, 0, 0, 0.95);
    --md-mermaid-edge-color: rgba(0, 0, 0, 0.95);
    --md-code-hl-comment-color: #757585;
    --md-code-hl-number-color: #d9548c;
    --md-code-hl-operator-color: #5b6369;
    --md-code-hl-punctuation-color: #5b6369;
    --md-code-bg-color: #f7f7fb;
    --md-code-hl-constant-color: var(--md-code-fg-color);
    /*--md-primary-bg-color: white;*/
    --md-default-fg-color--light: rgba(0,0,0,.6);
    --md-default-fg-color--lighter: rgb(159, 172, 190);
    --md-default-fg-color--lightest: #f6f9fc;
    --md-footer-fg-color--light: var(--md-default-fg-color);
    --md-code-hl-color--light: rgba(197, 173, 255, 0.12);
}

#__mermaid_0 .note {
    stroke: var(--md-primary-fg-color) !important;
}

.md-typeset .highlight :where(.l) {
    /*color: #eee !important;*/
    /*color: var(--md-code-fg-color) !important;*/
}

.highlight .sd {
    color: var(--md-code-hl-string-color);
}

.highlight .na, .highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi {
    color: #c6c052;
}

.md-typeset .highlight .md-clipboard:after {
    display: none;
}

.md-typeset .highlight .hll {
    box-shadow: none;
    /*box-shadow: 3px 0px 0px 0.1px var(--md-primary-fg-color) inset;*/
    margin: 0 -1.8em;
    padding: 0 1.8em;
}

body {
    --md-text-font-family: metro-web, Metro, -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --md-code-font-family: Fira Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.md-content {
    /*border-left: 1px solid #E4E4E7;*/
}

.md-header__button.md-logo :where(img,svg) {
    height: 1.25rem !important;
}

.md-header__button.md-logo {
    margin: 0 0 0 0.5rem;
    padding: 0;
}

.md-header__button.md-logo:hover {
    opacity: 1;
}

.md-main__inner {
    /* DO NOT CHANGE: IT BREAKS SIDEBAR NAVIGATION */
    /*margin-top: 1.25em;*/
}

.md-sidebar__inner {
    margin: 0 0 30px;
}

@media screen and (min-width: 76.1875em) {
    .md-sidebar--primary .md-nav__link,
    .md-sidebar--primary .md-nav__item--section.md-nav__item .md-nav__link[for=__toc] {
        display: none;
    }

    .md-sidebar--primary .md-nav__item--section.md-nav__item .md-nav__link {
        /*margin-left: 2px;*/
    }

    .md-sidebar--primary .md-nav__item--section.md-nav__item .md-nav__link--active {
        border-left: 2.5px solid var(--md-typeset-a-color);
        color: inherit;
        border-image: linear-gradient(8deg, #0048ff, #ce00ff, #ce00ff, #ce00ff) 10;
        margin-left: -1.5px;
        font-size: 16.5px;
        padding-left: 14px;
    }

    .md-sidebar--primary .md-nav__item--section.md-nav__item .md-nav__link {
        display: flex;
    }

    /* Comment to siwtch to sections in sidebar */
    .md-sidebar__inner > .md-nav--primary > .md-nav__list:not(.md-post__meta) > .md-nav__item > .md-nav > .md-nav__list > .md-nav__item:not(.md-nav__item--section) {
        display: none;
    }

    .md-nav__item--section > .md-nav__link {
        /*text-transform: uppercase;*/
        display: inline-block;
        font-size: 17px;
        font-weight: 600;
        line-height: 1.4rem;
        /*letter-spacing: -0.5px;*/
        position: relative;
        left: -11px;
    }

    .md-nav__item--section>.md-nav__link[for] {
        color: rgba(0,0,0,0.87);
    }

    .md-search__form > * {
        z-index: 101;
    }

    /* .md-search__form::before {
        content: "⌘";
        color: white;
        font-weight: 600;
        position: absolute;
        padding: 7px;
        margin: 3.5px;
        font-size: .65rem;
        background-color: rgba(0,0,0,.87);
        border-radius: 5px;
        right: 37px;
        z-index: 1;
        width: 30px;
        text-align: center;
    }

    .md-search__form::after {
        content: "K";
        color: white;
        font-weight: 600;
        position: absolute;
        padding: 7px;
        margin: 3.5px;
        font-size: .65rem;
        background-color: rgba(0,0,0,.87);
        border-radius: 5px;
        right: 1px;
        top: 0;
        width: 30px;
        text-align: center;
    } */

    .md-nav--lifted > .md-nav__list > .md-nav__item > [for] {
        display: none;
    }
}

.md-nav[data-md-level="2"] > .md-nav__list > .md-nav__item {
    /*margin-left: -16px !important;*/
    border-left: 0.5px dotted rgba(0, 0, 0, 0.4);
    /*background: red;*/
}

.md-nav[data-md-level="3"] > .md-nav__list > .md-nav__item:last-of-type {
    margin-bottom: 6px;
}

.md-sidebar--primary .md-nav__link, .md-sidebar--post .md-nav__link {
    padding: 5px 15px 4px;
    margin-top: 0;
}

.md-nav.md-nav--secondary > .md-nav__list > .md-nav__item {
    margin-left: 16px;
    border-left: 0.5px dotted rgba(0, 0, 0, 0.4);
    font-size: 16.5px;
}

.md-sidebar--secondary .md-nav__link {
    margin-left: -8px;
    border-left: 2px solid transparent;
    padding: 5px 15px 5px;
    margin-right: 0 !important;
}

.md-sidebar--secondary .md-nav__item {
    padding-left: 0.35rem;
}

.md-sidebar--secondary .md-nav__item .md-nav__link--passed {
    color: inherit;
}

.md-sidebar--secondary .md-nav__item .md-nav__link--active .md-typeset {
    font-weight: 600;
}

.md-sidebar--secondary .md-nav__item .md-nav__link--active {
    border-left: 2.5px solid var(--md-typeset-a-color);
    color: inherit;
    border-image: linear-gradient(8deg, #0048ff, #ce00ff, #ce00ff, #ce00ff) 10;
    margin-left: -9px;
}

.md-nav__item .md-nav__link--active, .md-nav__item .md-nav__link--active:hover {
    font-weight: 600;
    color: inherit;
}

.md-path__list {
    margin-top: -7px;
}

.md-path__link {
    color: var(--md-default-fg-color);
    font-size: 0.7rem;
}

@media screen and (min-width: 76.1875em) {
    .md-nav__item--section>.md-nav>.md-nav__list>li.md-nav__item:not(.md-nav__item--nested):not(.md-nav__item--active) {
        margin-left: 10px;
        /*border-left: 0.5px dotted rgba(0, 0, 0, 0.4);*/
        /*font-size: 16.5px;*/
    }
    .md-sidebar--primary a.md-nav__link--active {
        overflow: inherit;
    }
    .md-nav__item--section>.md-nav>.md-nav__list>.md-nav__item {
        margin-left: 10px;
    }
    .md-nav__item--section {
        margin: 0.6em 0;
    }
    /*MKDocs Insiders fix*/
    /*.md-sidebar--primary a.md-nav__link--active::before {*/
    /*    content: "•";*/
    /*      min-width: 1.1rem;*/
    /*      font-size: 2rem;*/
    /*      height: 0;*/
    /*      display: flex;*/
    /*      background-color: #000000;*/
    /*      !*Add absolute positioning*!*/
    /*      position: relative;*/
    /*      top: -1.48rem;*/
    /*      margin-left: -24px;*/
    /*}*/
    .md-sidebar--primary .md-nav__link--active {
        font-weight: 600;
        justify-content: start;
    }
}

.md-footer {
    background-color: var(--md-default-bg-color);
    color: inherit;
    font-weight: 500;
}

.md-footer-meta {
    background-color: var(--md-default-bg-color);
}

.md-typeset a {
    /*letter-spacing: -0.5px;*/
}

html .md-footer-meta.md-typeset a:is(:focus,:hover) {
    color: var(--md-primary-fg-color) !important;
}

@media screen and (max-width: 76.1875em) {
    .md-sidebar--primary .md-nav__link {
        padding: inherit;
        margin: 5px 5px;
    }

    .md-sidebar--primary .md-nav__item .md-nav__link--active {
        color: inherit;
        background-color: inherit;
        border-radius: inherit;
    }

    .md-nav--primary .md-nav__title[for=__drawer] {
        background-color: inherit;
    }
}

@media screen and (min-width: 76.25em) {
    .md-nav--integrated>.md-nav__list>.md-nav__item--active .md-nav--secondary {
        margin-bottom: 0;
    }
}

.md-typeset :where(ol, ul) {
    list-style: none !important;
}

[dir=ltr] .md-typeset ol li, [dir=ltr] .md-typeset ul li  {
    margin-left: 5px;
    padding-left: 1rem;
    position: relative;
}

.md-typeset :where(ul) > li:before {
    background-color: rgba(0,0,0,87);
    border-radius: 50%;
    content: "";
    height: 0.48em;
    width: 0.48em;
    left: 0.25em;
    position: absolute;
    top: 0.6875em;
}

.md-typeset :where(ol) > li:before {
    /*color: #6b7280;*/
    content: counter(list-item,var(--list-counter-style,decimal)) ".";
    font-weight: 400;
    left: 0;
    position: absolute;
}

.md-typeset :where(ol) {
    margin-left: 0;
}

.md-typeset :where(ul,ol) li :where(ul,ol) {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

@media screen and (min-width: 76.25em) {
    [dir=ltr] .md-sidebar--primary:not([hidden]) ~ .md-content > .md-content__inner {
        margin-left: 1.2rem;
    }

    .md-content__inner:before {
        display: none;
    }
}

.md-typeset .md-content__button {
    color: var(--md-default-fg-color--light);
}

/*.md-typeset p > img {*/
/*    border: 1px solid #E4E4E7;*/
/*}*/

.md-typeset figure p img {
    border: none;
    display: inline-block;
}

.md-typeset .grid.fit {
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
}

.md-typeset .tabbed-labels>label:last-of-type {
    margin-right: -2px;
}

.md-typeset .tabbed-labels>label {
    padding: 18px 18px 16px !important;
    font-size: 16.5px !important;
    line-height: 1.2 !important;
    -webkit-font-smoothing: auto !important;
    z-index: 1 !important;
    background: none;
    display: inline-block;
    margin-right: -1px;
}

.md-typeset .tabbed-labels--linked>label a {
    /*MKDocs Insiders fix*/
    padding: initial;
    font-weight: 700 !important;
    color: rgba(0,0,0,0.83) !important;
    min-width: 80px;
    text-align: center;
}

.md-typeset .tabbed-labels--linked>label>a code {
    /*MKDocs Insiders fix*/
    background: initial;
    font-weight: 700;
    color: var(--md-typeset-color);
}

.md-typeset .highlight :is(.nd,.ni,.nl,.nt),
.md-typeset .highlight :is(.k,.kd,.kn,.kp,.kr,.kt),
.md-typeset .highlight :is(.nc,.ne,.nf,.nn) {
    font-weight: 100;
}

.md-typeset .tabbed-labels>label > code {
    background-color: transparent;
    /*letter-spacing: -0.25px;*/
}

.md-typeset .tabbed-set {
   border-radius: 0;
   display: block;
}

.md-typeset .tabbed-block>.highlight, .md-typeset .tabbed-block>.termy {
    margin-top: 20px;
}

@media screen and (min-width: 76.1875em) {
    .md-typeset .tabbed-block > .highlight:first-child > pre > code, .md-typeset .tabbed-block > pre:first-child > code {
        border-radius: 6px;
    }
}

.md-typeset thead {
    background: -webkit-linear-gradient(45deg, rgba(0, 42, 255, 0.05), rgb(0 114 255 / 0.5%), rgba(0, 42, 255, 0.025));
}

.md-typeset .tabbed-set>input:checked~.tabbed-labels code,
.md-typeset .tabbed-set>input:first-child:checked~.tabbed-labels>:first-child {
    /*MKDocs Insiders fix*/
    /*font-weight: 500;*/
    /*color: var(--md-code-fg-color);*/
}

.js .md-typeset .tabbed-labels:before {
    height: auto;
    background: none;
    z-index: 1;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid black;
    bottom: -0.7px;
    top: -0.7px;
    left: -0.7px;
    right: -0.7px;
    background: -webkit-linear-gradient(45deg, rgba(0, 42, 255, 0.1), rgb(0 114 255 / 1%), rgba(0, 42, 255, 0.05)) !important;
}

.md-typeset .tabbed-labels > label:after {
        content: "";
    height: auto;
    z-index: 1;
    background: rgba(0,0,0, 0.25);
    bottom: 0;
    top: 0;
    position: absolute;
    width: 0.5px;
    margin-left: -18.5px;
    margin-top: 16px;
    margin-bottom: 16px;
}


@media screen and (max-width: 44.984375em) {
    [dir=ltr] .md-content__inner>.tabbed-set .tabbed-labels:after {
         padding-right: 0;
    }
}

.md-typeset .tabbed-labels {
    box-shadow: none !important;
    margin-bottom: -3px;
    display: inline-block;
    height: 100%;
    background: -webkit-linear-gradient(45deg, rgba(0, 42, 255, 0.025), rgb(0 114 255 / 0.25%), rgba(0, 42, 255, 0.0125));
    z-index: 1;
    border-radius: 6px;
    border: 0.5px solid rgba(0,0,0, 0.5);
    overflow: unset;
}

.md-typeset table:not([class]) {
    border-radius: 8px;
    border: .5px solid rgba(0, 0, 0, .25);
}

.md-typeset .grid {
    grid-gap: 1.2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
    margin: 1.6em 0;
}

.md-typeset .grid.cards>:-webkit-any(ul,ol) {
    display: contents;
}

.md-typeset .grid.cards>:-webkit-any(ul,ol)>li strong, .md-typeset .grid>.card strong {
    display: block;
    color: var(--md-default-fg-color);
    margin-bottom: 6px;
    font-weight: 800;
}

.md-typeset .grid.cards>:-webkit-any(ul,ol)>li a:hover strong,
.md-typeset .grid>.card a:hover strong {
    color: var(--md-typeset-a-color);
}

.md-typeset .grid.cards > :-webkit-any(ul,ol) > li a,
.md-typeset .grid.cards > :-webkit-any(ul,ol) > li span,
.md-typeset .grid > .card a {
    color: var(--md-default-fg-color);
    text-decoration: none;
    display: block;
    margin: 0;
    padding: 1rem 1.4rem;
    border-radius: 6px;
    border: rgba(0,0,0,0.6) 0.5px solid;
}

.md-typeset .grid.cards>ol>li:focus-within,.md-typeset .grid.cards>ol>li:hover,.md-typeset .grid.cards>ul>li:focus-within,.md-typeset .grid.cards>ul>li:hover,.md-typeset .grid>.card:focus-within,.md-typeset .grid>.card:hover {
    box-shadow: none;
}

.md-typeset .grid.cards>:-webkit-any(ul,ol)>li, .md-typeset .grid>.card {
    font-size: 95%;
    line-height: 1.6;
    padding: 0;
}

.md-typeset .grid.cards>:-webkit-any(ul,ol)>li:before {
    display: none;
}

.md-header--shadow {
    box-shadow: none;
}

.md-tabs {
    background-color: transparent;
    flex-grow: 1;
    width: initial;
}

@media screen and (max-width: 76.25em) {
    .md-typeset .tabbed-block p {
        margin: 1em .8rem;
    }

    .md-typeset .tabbed-block :is(h1, h2, h3, h4, h5, h6) {
        margin-left: .8rem;
    }

    .md-tabs {
        display: none;
    }

    [data-termynal]:before {
        left: 25px;
    }
}
@media screen and (min-width: 76.1875em) {
    .md-tabs {
        padding-left: 2.5rem;
        display: none;
    }

    .ready .md-tabs {
        display: block;
    }

    [data-md-color-primary=white] .md-tabs {
        border-bottom: none;
    }

    .md-tabs{
        overflow: visible;
        contain: none;
    }

    .md-tabs__item--active .md-tabs__link {
        font-weight: 600;
    }

    .md-tabs__item--active .md-tabs__link:after {
        position: absolute;
        background: -webkit-linear-gradient(100deg, #0048ff, #ce00ff);
        content: "";
        width: 100%;
        z-index: 1000;
        height: 2.5px;
        bottom: -4.5px;
        border-radius: 2px;
    }

    .md-tabs[hidden] .md-tabs__link {
        opacity: inherit;
        transform: inherit;
        transition: inherit;
        position: relative;
    }

    .md-tabs[hidden] {
        pointer-events: inherit;
    }

    /*.md-nav__title {
        display: none;
    }*/

    [dir=ltr] .md-tabs__list {
        display: flex;
        overflow: visible;
        contain: none;
    }

    .md-tabs__item {
        display: flex;
        height: 2.4rem;
        padding-left: 0;
        padding-right: 22px;
    }

    .md-tabs__item:nth-child(1) {
        display: none;
    }

    .md-tabs__item:nth-child(7) {
        display: none;
    }

    /* .md-tabs__item:nth-child(5):after {
        content: url('data:image/svg+xml,<svg fill="black" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 16 16"><polygon points="5 4.31 5 5.69 9.33 5.69 2.51 12.51 3.49 13.49 10.31 6.67 10.31 11 11.69 11 11.69 4.31 5 4.31" data-v-e1bdab2c=""></polygon></svg>');
        line-height: 14px;
        margin-left: 4px;
        position: relative;
        top: 16px;
        margin-right: -7px;
    } */

    /*.md-tabs__item:nth-child(6) {
        margin-left: auto;
        padding-right: 0.8rem;
    }

    .md-tabs__item:nth-child(n+6) .md-tabs__link {
        visibility: hidden;
        width: 35px;
        display: inline-block;
        margin-top: 10px;
    }

    .md-tabs__item:nth-child(n+6) .md-tabs__link:before {
        width: 38px;
        height: 38px;
        margin-top: 4px;
        visibility: visible;
    }*/

    .twemoji.external {
        position: relative;
        top: 2.5px;
        height: 18.5px;
        margin-left: -3px;
    }

    .tx-footer__section-link.external:after {
        content: url('data:image/svg+xml,<svg fill="black" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 16 16"><polygon points="5 4.31 5 5.69 9.33 5.69 2.51 12.51 3.49 13.49 10.31 6.67 10.31 11 11.69 11 11.69 4.31 5 4.31" data-v-e1bdab2c=""></polygon></svg>');
        line-height: 14px;
        margin-left: 5px;
        position: relative;
        top: 1.5px;
        margin-right: -7px;
    }

    /*.md-tabs__item:nth-child(6) .md-tabs__link:before {
        position: relative;
        content: '';
        width: 37px;
        height: 31px;
        display: inline-block;
        -webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2024 Fonticons, Inc.--><path d="M524.531 69.836a1.5 1.5 0 0 0-.764-.7A485 485 0 0 0 404.081 32.03a1.82 1.82 0 0 0-1.923.91 338 338 0 0 0-14.9 30.6 447.9 447.9 0 0 0-134.426 0 310 310 0 0 0-15.135-30.6 1.89 1.89 0 0 0-1.924-.91 483.7 483.7 0 0 0-119.688 37.107 1.7 1.7 0 0 0-.788.676C39.068 183.651 18.186 294.69 28.43 404.354a2.02 2.02 0 0 0 .765 1.375 487.7 487.7 0 0 0 146.825 74.189 1.9 1.9 0 0 0 2.063-.676A348 348 0 0 0 208.12 430.4a1.86 1.86 0 0 0-1.019-2.588 321 321 0 0 1-45.868-21.853 1.885 1.885 0 0 1-.185-3.126 251 251 0 0 0 9.109-7.137 1.82 1.82 0 0 1 1.9-.256c96.229 43.917 200.41 43.917 295.5 0a1.81 1.81 0 0 1 1.924.233 235 235 0 0 0 9.132 7.16 1.884 1.884 0 0 1-.162 3.126 301.4 301.4 0 0 1-45.89 21.83 1.875 1.875 0 0 0-1 2.611 391 391 0 0 0 30.014 48.815 1.86 1.86 0 0 0 2.063.7A486 486 0 0 0 610.7 405.729a1.88 1.88 0 0 0 .765-1.352c12.264-126.783-20.532-236.912-86.934-334.541M222.491 337.58c-28.972 0-52.844-26.587-52.844-59.239s23.409-59.241 52.844-59.241c29.665 0 53.306 26.82 52.843 59.239 0 32.654-23.41 59.241-52.843 59.241m195.38 0c-28.971 0-52.843-26.587-52.843-59.239s23.409-59.241 52.843-59.241c29.667 0 53.307 26.82 52.844 59.239 0 32.654-23.177 59.241-52.844 59.241"></path></svg>') no-repeat 50% 50%;
        mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2024 Fonticons, Inc.--><path d="M524.531 69.836a1.5 1.5 0 0 0-.764-.7A485 485 0 0 0 404.081 32.03a1.82 1.82 0 0 0-1.923.91 338 338 0 0 0-14.9 30.6 447.9 447.9 0 0 0-134.426 0 310 310 0 0 0-15.135-30.6 1.89 1.89 0 0 0-1.924-.91 483.7 483.7 0 0 0-119.688 37.107 1.7 1.7 0 0 0-.788.676C39.068 183.651 18.186 294.69 28.43 404.354a2.02 2.02 0 0 0 .765 1.375 487.7 487.7 0 0 0 146.825 74.189 1.9 1.9 0 0 0 2.063-.676A348 348 0 0 0 208.12 430.4a1.86 1.86 0 0 0-1.019-2.588 321 321 0 0 1-45.868-21.853 1.885 1.885 0 0 1-.185-3.126 251 251 0 0 0 9.109-7.137 1.82 1.82 0 0 1 1.9-.256c96.229 43.917 200.41 43.917 295.5 0a1.81 1.81 0 0 1 1.924.233 235 235 0 0 0 9.132 7.16 1.884 1.884 0 0 1-.162 3.126 301.4 301.4 0 0 1-45.89 21.83 1.875 1.875 0 0 0-1 2.611 391 391 0 0 0 30.014 48.815 1.86 1.86 0 0 0 2.063.7A486 486 0 0 0 610.7 405.729a1.88 1.88 0 0 0 .765-1.352c12.264-126.783-20.532-236.912-86.934-334.541M222.491 337.58c-28.972 0-52.844-26.587-52.844-59.239s23.409-59.241 52.844-59.241c29.665 0 53.306 26.82 52.843 59.239 0 32.654-23.41 59.241-52.843 59.241m195.38 0c-28.971 0-52.843-26.587-52.843-59.239s23.409-59.241 52.843-59.241c29.667 0 53.307 26.82 52.844 59.239 0 32.654-23.177 59.241-52.844 59.241"></path></svg>') no-repeat 50% 50%;
        -webkit-mask-size: cover;
        mask-size: cover;
        background: -webkit-linear-gradient(45deg, #0048ff, #ce00ff);
        margin-top: 1px;
    }*/

    .md-tabs__link {
        display: flex;
        align-items: center;
    }

    .md-tabs__link {
        font-size: 0.85rem;
        font-weight: 500;
        color: rgba(0,0,0,0.87);
        /*letter-spacing: -0.5px;*/
        margin-top: 1px;
        line-height: 24px;
    }

    .md-tabs__link:hover {
        color: black;
    }

    .md-tabs__link.md-tabs__link--active {
        color: var(--md-accent-fg-color);
    }

    .md-nav[aria-label="Community"] .md-nav__item:nth-child(1) {
        display: flex;
    }
}

.md-source__repository--active {
    font-weight: 700;
}

.md-source__icon {
    height: 2.6rem;
}

.md-source {
    font-size: 0.7rem;
}

.md-source:hover {
    opacity: 1;
}

[dir=ltr] .md-source__icon+.md-source__repository {
    margin-left: -2.6rem !important;
}

.md-source__icon.md-icon svg {
    height: 1.38rem;
    width: 1.38rem;
    fill: none;
    margin-left: -0.1rem;
    margin-top: 0.61rem;
}

.md-source__facts:nth-child(2) {
    display: none;
}

.md-source__facts {
    color: black;
}

.md-social__link svg {
    max-height: 1.2rem;
}

@media screen and (min-width: 76.25em) {
    .md-search {
        margin-top: 2px;
    }

    .md-search .md-search__inner {
        /*padding-top: 0.58rem;*/
        margin-right: 8px;
    }

    [data-md-toggle=search]:checked ~ .md-header .md-search__inner, .md-search__scrollwrap {
        width: 30rem;
    }

    [data-md-toggle=search]:checked~.md-header .md-search__form  .md-search__input+.md-search__icon {
        color: black;
    }

    [data-md-toggle=search]:checked~.md-header .md-search__form {
        border-radius: 5px 5px 0 0;
        border: none;
        border-bottom: 0.5px solid black;
    }

    .md-search__scrollwrap {
        border-radius: 0 0 5px 5px;
    }

    [dir=ltr] .md-search__options {
        right: 3.8rem;
    }

    .md-search__options .md-icon svg {
        width: 1rem;
        height: 1rem;
    }

    .md-search__options > * {
        color: var(--md-default-fg-color--light);
    }
}

.md-search-result mark {
    font-weight: 600;
}

.md-search__input::placeholder {
    color: inherit;
}

.md-top {
    font-weight: 500;
    box-shadow: 0 0 0.2rem rgb(0 0 0 / 5%), 0 0.2rem 0.9rem rgb(0 0 0 / 10%);
    color: var(--md-default-fg-color);
    border-radius: 20px;
}

.md-top:hover {
    background-color: white;
    color: var(--md-default-fg-color);
}

@media screen and (max-width: 44.9375em) {
    .md-typeset .tabbed-set pre > code, [data-termynal] {
        border-radius: 0 !important;
    }

    .md-typeset .termy {
        margin-left: -0.8rem;
        margin-right: -0.8rem;
    }

    .md-typeset .tabbed-set .termy {
        margin-left: 0;
        margin-right: 0;
    }

    .md-typeset blockquote {
        margin-left: -0.8rem;
        margin-right: -0.8rem;
        border-radius: 0;
    }

    .md-typeset .tabbed-set blockquote {
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
    }

    .md-typeset .tabbed-set {
        margin: 0 -.8rem 0 -0.8rem;
    }

    .md-typeset div[editor-title] code {
        border-width: 0;
        border-radius: 0 !important;
    }

    .md-typeset div[editor-title] {
        margin-left: -0.8rem;
        margin-right: -0.8rem;
    }

    [dir=ltr] .md-typeset :is(.admonition,details) {
        border-width: 0;
        border-radius: 0 !important;
        margin-left: -0.8rem;
        margin-right: -0.8rem;
        background: -webkit-linear-gradient(45deg, rgba(0, 42, 255, 0.1), rgb(0 114 255 / 1%), rgba(0, 42, 255, 0.05)) !important;
    }

    [dir=ltr] .md-content__inner>.tabbed-set .tabbed-labels {
        margin-left: 0.8rem;
        padding-left: 0;
    }
}

.md-banner {
    background: black;
    color: var(--md-default-bg-color);
    margin-bottom: 1px;
    font-weight: 500;
}

.md-typeset.md-banner__inner {
    margin: 0.15rem auto;
    text-align: center;
    font-size: 0.725rem;
    font-weight: 300;
    white-space: nowrap;
}

.md-typeset.md-banner__inner strong {
    font-weight: 600;
}

.md-typeset.md-banner__inner a {
    color: var(--md-default-bg-color);
    border-bottom: 1.5px dotted;
    font-weight: 600;
}

.md-typeset.md-banner__inner .md-banner__button svg {
    height: 20px;
    max-width: 100%;
    margin: 0.2rem 0;
}

.md-typeset.md-banner__inner .md-banner__button {
    color: var(--md-default-fg-color--lighter);
}

.md-typeset.md-banner__inner .md-banner__button:hover {
    color: var(--md-accent-fg-color);
}

.md-typeset .footnote-backref {
    vertical-align: inherit;
}

.md-go-to-action.secondary.discord:before {
    position: relative;
    top: 5px;
    content: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 -28.5 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid"><g><path d="M216.856339,16.5966031 C200.285002,8.84328665 182.566144,3.2084988 164.041564,0 C161.766523,4.11318106 159.108624,9.64549908 157.276099,14.0464379 C137.583995,11.0849896 118.072967,11.0849896 98.7430163,14.0464379 C96.9108417,9.64549908 94.1925838,4.11318106 91.8971895,0 C73.3526068,3.2084988 55.6133949,8.86399117 39.0420583,16.6376612 C5.61752293,67.146514 -3.4433191,116.400813 1.08711069,164.955721 C23.2560196,181.510915 44.7403634,191.567697 65.8621325,198.148576 C71.0772151,190.971126 75.7283628,183.341335 79.7352139,175.300261 C72.104019,172.400575 64.7949724,168.822202 57.8887866,164.667963 C59.7209612,163.310589 61.5131304,161.891452 63.2445898,160.431257 C105.36741,180.133187 151.134928,180.133187 192.754523,160.431257 C194.506336,161.891452 196.298154,163.310589 198.110326,164.667963 C191.183787,168.842556 183.854737,172.420929 176.223542,175.320965 C180.230393,183.341335 184.861538,190.991831 190.096624,198.16893 C211.238746,191.588051 232.743023,181.531619 254.911949,164.955721 C260.227747,108.668201 245.831087,59.8662432 216.856339,16.5966031 Z M85.4738752,135.09489 C72.8290281,135.09489 62.4592217,123.290155 62.4592217,108.914901 C62.4592217,94.5396472 72.607595,82.7145587 85.4738752,82.7145587 C98.3405064,82.7145587 108.709962,94.5189427 108.488529,108.914901 C108.508531,123.290155 98.3405064,135.09489 85.4738752,135.09489 Z M170.525237,135.09489 C157.88039,135.09489 147.510584,123.290155 147.510584,108.914901 C147.510584,94.5396472 157.658606,82.7145587 170.525237,82.7145587 C183.391518,82.7145587 193.761324,94.5189427 193.539891,108.914901 C193.539891,123.290155 183.391518,135.09489 170.525237,135.09489 Z" fill="currentColor" fill-rule="nonzero"></path></g></svg>');
    padding-right: 10px;
}

.md-go-to-action.primary.discord:before {
    position: relative;
    top: 5px;
    content: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 -28.5 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid"><g><path d="M216.856339,16.5966031 C200.285002,8.84328665 182.566144,3.2084988 164.041564,0 C161.766523,4.11318106 159.108624,9.64549908 157.276099,14.0464379 C137.583995,11.0849896 118.072967,11.0849896 98.7430163,14.0464379 C96.9108417,9.64549908 94.1925838,4.11318106 91.8971895,0 C73.3526068,3.2084988 55.6133949,8.86399117 39.0420583,16.6376612 C5.61752293,67.146514 -3.4433191,116.400813 1.08711069,164.955721 C23.2560196,181.510915 44.7403634,191.567697 65.8621325,198.148576 C71.0772151,190.971126 75.7283628,183.341335 79.7352139,175.300261 C72.104019,172.400575 64.7949724,168.822202 57.8887866,164.667963 C59.7209612,163.310589 61.5131304,161.891452 63.2445898,160.431257 C105.36741,180.133187 151.134928,180.133187 192.754523,160.431257 C194.506336,161.891452 196.298154,163.310589 198.110326,164.667963 C191.183787,168.842556 183.854737,172.420929 176.223542,175.320965 C180.230393,183.341335 184.861538,190.991831 190.096624,198.16893 C211.238746,191.588051 232.743023,181.531619 254.911949,164.955721 C260.227747,108.668201 245.831087,59.8662432 216.856339,16.5966031 Z M85.4738752,135.09489 C72.8290281,135.09489 62.4592217,123.290155 62.4592217,108.914901 C62.4592217,94.5396472 72.607595,82.7145587 85.4738752,82.7145587 C98.3405064,82.7145587 108.709962,94.5189427 108.488529,108.914901 C108.508531,123.290155 98.3405064,135.09489 85.4738752,135.09489 Z M170.525237,135.09489 C157.88039,135.09489 147.510584,123.290155 147.510584,108.914901 C147.510584,94.5396472 157.658606,82.7145587 170.525237,82.7145587 C183.391518,82.7145587 193.761324,94.5189427 193.539891,108.914901 C193.539891,123.290155 183.391518,135.09489 170.525237,135.09489 Z" fill="currentColor" fill-rule="nonzero"></path></g></svg>');
    padding-right: 10px;
}

.md-go-to-action.github:before {
    position: relative;
    top: 5px;
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 24 24" fill="white" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>');
    padding-right: 10px;
}

[data-md-color-primary=white] .md-button {
    border: 1.5px solid rgba(0,0,0,0.87);
    line-height: 35px;
    color: rgba(0,0,0,0.87);
    margin-right: 5px;
    background: transparent;
    font-weight: 500 !important;
    padding: 0.4em 1.5em;
    font-size: 17px;
    border-radius: 3px;
    white-space: nowrap;
}

/*[data-md-color-primary=white] .md-button:hover{
    background: transparent;
    border: 1.5px solid rgba(0,0,0,1);
    color: black !important;
}*/

.md-post__title {
    padding: 5px 15px 5px;
}

.md-post .md-nav__title {
    font-weight: 500;
}

[data-md-color-primary=white] .md-button--primary {
    color: white;
    background: rgba(0,0,0,0.87);
}

[data-md-color-primary=white] .md-button--github:before {
    position: relative;
    top: 5px;
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 24 24" fill="white" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>');
    padding-right: 10px;
}

/*[data-md-color-primary=white] .md-button:hover {
    background: inherit;
    color: inherit;
    border-color: inherit;
}*/

/*
[data-md-color-primary=white] .md-button--primary:hover {
    background: rgba(0,0,0,1);
    color: white !important;
}
*/

[dir=ltr] .md-typeset blockquote {
    /*border: 1px solid black;*/
    border: none;
    color: var(--md-default-fg-color);
    padding: 8px 25px;
    border-radius: 6px;
    background: -webkit-linear-gradient(45deg, rgba(0, 42, 255, 0.1), rgb(0 114 255 / 1%), rgba(0, 42, 255, 0.05));
}

a.md-go-to-action.secondary {
    color: rgba(0,0,0,0.87);
    background: white;
}

.md-post__content :is(h2, h3, h4, h5, h6) a {
    color: rgba(0,0,0,0.87);
}

div[editor-title] code .editor-title {
    position: absolute;
    color: #a2a2a2;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: var(--md-code-font-family) !important;
}

.md-status:after, .md-status:hover:after{
    background: rgba(0,0,0,0.7);
}

.md-ellipsis, .md-ellipsis .md-typeset {
    white-space: normal;
    /*font-size: 98%;*/
}

.md-header__topic .md-ellipsis {
    white-space: nowrap;
}

/*.md-blog-sidebar .md-nav__link--active {
    display: none;
}*/

[data-ty].no-newline, .no-newline {
    display: inline-block;
}

[data-ty].newline, .newline {
    display: block;
}

img.border {
    border: 0.25px rgba(0,0,0,0.2) solid;
    border-radius: 7px;
}

.md-typeset .reference-item:hover > .headerlink {
    display: none;
}

.md-typeset .reference-item {
    display: list-item;
    margin-left: .625em;
    font-weight: inherit;
    color: inherit;
    font-size: inherit;
    letter-spacing: inherit;
}

.md-typeset .reference-item a code {
    color: var(--md-typeset-a-color);
    font-size: .85em;
}

.md-typeset .reference-item code {
    background-color: rgba(163, 68, 215, 0.05);
    border-radius: 2px;
    font-weight: 600;
    color: var(--md-primary-fg-color);
    text-align: center;
    padding: 4px;
    height: 16px;
    margin: 0 4px;
}


.swagger-ui .json-schema-2020-12 {
    white-space: nowrap !important;
    overflow: scroll !important;;
}

.swagger-ui .json-schema-2020-12:last-of-type {
    margin: 0 5px !important;
}

.swagger-ui .json-schema-2020-12--embedded {
    padding-left: 0 !important;
}

.swagger-ui .json-schema-2020-12-keyword__name {
    margin-left: 5px !important;
}

.swagger-ui .json-schema-2020-12-keyword--description {
    margin-left: 0 !important;
}

.swagger-ui .markdown code, .swagger-ui .renderedMarkdown code {
    font-size: 12px !important;
}

.swagger-ui .tab li:first-of-type {
    padding-left: 1rem !important;
}

.md-typeset .swagger-ui pre > code {
    font-size: 12px !important;;
    padding: 30px !important;
}
