.tx-landing {
    margin: 0 .8rem;
    color: var(--md-primary-bg-color)
}

.tx-landing__hero_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tx-landing__hero_text h1 {
    margin-bottom: .75rem;
    font-weight: 700;
    font-size: 2.5em;
    /*letter-spacing: -3px;*/
}

.tx-landing__hero_text h1 strong {
    font-weight: 800;
}

/*.tx-landing__hero_text h1*/ .gradient {
    background: linear-gradient(90deg, #4631C8 -1.29%, #CD4AE2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 4px;
    margin-right: -4px;
}

.tx-landing .highlight {
    display: inline-block;
    border-radius: 3px;
    padding: 1px 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.33);
}

/*.tx-landing__hero_text p {
    font-size: 0.95rem;
}*/

.tx-landing__hero_buttons {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}

.tx-container .tx-landing__hero_buttons .md-button {
    margin-bottom: 0.2rem;
    margin-right: 0;
}

.tx-landing__hero_button_container {
    text-align: center;
}

.tx-landing__hero_button_placeholder {
    color: #202128;
    font-size: 0.67rem;
    line-height: 24px;
    text-align: center;
    padding: 18px 5px 13px;
}

@media screen and (max-width: 76.1875em) {
    .tx-landing h1 {
        font-size: 1.4rem;
    }

    .tx-landing__hero_text {
        max-width: 30rem;
        margin-left: auto;
        margin-right: auto;
    }

    .tx-landing__hero_image {
        margin-top: 1.5rem;
        max-width: 26rem;
    }

    .tx-landing__hero_code {
        margin-top: 2.5rem;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
    }

    .tx-landing__hero_buttons {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
}

@media screen and (min-width: 76.1875em) {
    .tx-container {
        padding-bottom: 3vw;
    }

    .tx-landing__hero {
        margin-bottom: 2.5rem;
        font-size: 1em;
        line-height: 1.5;
    }

    .tx-landing__hero_text {
        margin-top: 5.1rem;
    }

    .tx-landing__hero_text h1 {
        font-size: 3rem;
        max-width: 36rem;
        line-height: 1.2;
    }

    .tx-landing__hero_text p {
        max-width: 30rem;
    }

    .tx-landing__hero_image {
        order: 1;
        width: 30rem;
        margin-top: 0.5rem;
        margin-left: 3rem;
    }

    .tx-landing__hero_code {
        /*width: 100vw;*/
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 2.5rem;
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
        /*border-top-left-radius: 2.5rem;*/
        /*border-top-right-radius: 2.5rem;*/
        border-radius: 2.5rem;
        background-image: url("/assets/images/hero_code_background.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .tx-landing__hero_code > [data-termynal] {
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
    }
}

.md-header__buttons .md-button-secondary.discord:before,
.md-typeset .md-button-secondary.discord:before {
    position: relative;
    top: 6px;
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    -webkit-mask: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><svg width="20" height="20" viewBox="0 -28.5 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid"><g><path d="M216.856339,16.5966031 C200.285002,8.84328665 182.566144,3.2084988 164.041564,0 C161.766523,4.11318106 159.108624,9.64549908 157.276099,14.0464379 C137.583995,11.0849896 118.072967,11.0849896 98.7430163,14.0464379 C96.9108417,9.64549908 94.1925838,4.11318106 91.8971895,0 C73.3526068,3.2084988 55.6133949,8.86399117 39.0420583,16.6376612 C5.61752293,67.146514 -3.4433191,116.400813 1.08711069,164.955721 C23.2560196,181.510915 44.7403634,191.567697 65.8621325,198.148576 C71.0772151,190.971126 75.7283628,183.341335 79.7352139,175.300261 C72.104019,172.400575 64.7949724,168.822202 57.8887866,164.667963 C59.7209612,163.310589 61.5131304,161.891452 63.2445898,160.431257 C105.36741,180.133187 151.134928,180.133187 192.754523,160.431257 C194.506336,161.891452 196.298154,163.310589 198.110326,164.667963 C191.183787,168.842556 183.854737,172.420929 176.223542,175.320965 C180.230393,183.341335 184.861538,190.991831 190.096624,198.16893 C211.238746,191.588051 232.743023,181.531619 254.911949,164.955721 C260.227747,108.668201 245.831087,59.8662432 216.856339,16.5966031 Z M85.4738752,135.09489 C72.8290281,135.09489 62.4592217,123.290155 62.4592217,108.914901 C62.4592217,94.5396472 72.607595,82.7145587 85.4738752,82.7145587 C98.3405064,82.7145587 108.709962,94.5189427 108.488529,108.914901 C108.508531,123.290155 98.3405064,135.09489 85.4738752,135.09489 Z M170.525237,135.09489 C157.88039,135.09489 147.510584,123.290155 147.510584,108.914901 C147.510584,94.5396472 157.658606,82.7145587 170.525237,82.7145587 C183.391518,82.7145587 193.761324,94.5189427 193.539891,108.914901 C193.539891,123.290155 183.391518,135.09489 170.525237,135.09489 Z" fill="currentColor" fill-rule="nonzero"></path></g></svg>') no-repeat 50% 50%;
    mask: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><svg width="20" height="20" viewBox="0 -28.5 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid"><g><path d="M216.856339,16.5966031 C200.285002,8.84328665 182.566144,3.2084988 164.041564,0 C161.766523,4.11318106 159.108624,9.64549908 157.276099,14.0464379 C137.583995,11.0849896 118.072967,11.0849896 98.7430163,14.0464379 C96.9108417,9.64549908 94.1925838,4.11318106 91.8971895,0 C73.3526068,3.2084988 55.6133949,8.86399117 39.0420583,16.6376612 C5.61752293,67.146514 -3.4433191,116.400813 1.08711069,164.955721 C23.2560196,181.510915 44.7403634,191.567697 65.8621325,198.148576 C71.0772151,190.971126 75.7283628,183.341335 79.7352139,175.300261 C72.104019,172.400575 64.7949724,168.822202 57.8887866,164.667963 C59.7209612,163.310589 61.5131304,161.891452 63.2445898,160.431257 C105.36741,180.133187 151.134928,180.133187 192.754523,160.431257 C194.506336,161.891452 196.298154,163.310589 198.110326,164.667963 C191.183787,168.842556 183.854737,172.420929 176.223542,175.320965 C180.230393,183.341335 184.861538,190.991831 190.096624,198.16893 C211.238746,191.588051 232.743023,181.531619 254.911949,164.955721 C260.227747,108.668201 245.831087,59.8662432 216.856339,16.5966031 Z M85.4738752,135.09489 C72.8290281,135.09489 62.4592217,123.290155 62.4592217,108.914901 C62.4592217,94.5396472 72.607595,82.7145587 85.4738752,82.7145587 C98.3405064,82.7145587 108.709962,94.5189427 108.488529,108.914901 C108.508531,123.290155 98.3405064,135.09489 85.4738752,135.09489 Z M170.525237,135.09489 C157.88039,135.09489 147.510584,123.290155 147.510584,108.914901 C147.510584,94.5396472 157.658606,82.7145587 170.525237,82.7145587 C183.391518,82.7145587 193.761324,94.5189427 193.539891,108.914901 C193.539891,123.290155 183.391518,135.09489 170.525237,135.09489 Z" fill="currentColor" fill-rule="nonzero"></path></g></svg>') no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    margin-right: 8px;
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87));
}

.md-header__buttons .md-button--primary.discord:before,
.md-typeset .md-button--primary.discord:before {
    position: relative;
    top: 6px;
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    -webkit-mask: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><svg width="20" height="20" viewBox="0 -28.5 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid"><g><path d="M216.856339,16.5966031 C200.285002,8.84328665 182.566144,3.2084988 164.041564,0 C161.766523,4.11318106 159.108624,9.64549908 157.276099,14.0464379 C137.583995,11.0849896 118.072967,11.0849896 98.7430163,14.0464379 C96.9108417,9.64549908 94.1925838,4.11318106 91.8971895,0 C73.3526068,3.2084988 55.6133949,8.86399117 39.0420583,16.6376612 C5.61752293,67.146514 -3.4433191,116.400813 1.08711069,164.955721 C23.2560196,181.510915 44.7403634,191.567697 65.8621325,198.148576 C71.0772151,190.971126 75.7283628,183.341335 79.7352139,175.300261 C72.104019,172.400575 64.7949724,168.822202 57.8887866,164.667963 C59.7209612,163.310589 61.5131304,161.891452 63.2445898,160.431257 C105.36741,180.133187 151.134928,180.133187 192.754523,160.431257 C194.506336,161.891452 196.298154,163.310589 198.110326,164.667963 C191.183787,168.842556 183.854737,172.420929 176.223542,175.320965 C180.230393,183.341335 184.861538,190.991831 190.096624,198.16893 C211.238746,191.588051 232.743023,181.531619 254.911949,164.955721 C260.227747,108.668201 245.831087,59.8662432 216.856339,16.5966031 Z M85.4738752,135.09489 C72.8290281,135.09489 62.4592217,123.290155 62.4592217,108.914901 C62.4592217,94.5396472 72.607595,82.7145587 85.4738752,82.7145587 C98.3405064,82.7145587 108.709962,94.5189427 108.488529,108.914901 C108.508531,123.290155 98.3405064,135.09489 85.4738752,135.09489 Z M170.525237,135.09489 C157.88039,135.09489 147.510584,123.290155 147.510584,108.914901 C147.510584,94.5396472 157.658606,82.7145587 170.525237,82.7145587 C183.391518,82.7145587 193.761324,94.5189427 193.539891,108.914901 C193.539891,123.290155 183.391518,135.09489 170.525237,135.09489 Z" fill="currentColor" fill-rule="nonzero"></path></g></svg>') no-repeat 50% 50%;
    mask: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><svg width="20" height="20" viewBox="0 -28.5 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid"><g><path d="M216.856339,16.5966031 C200.285002,8.84328665 182.566144,3.2084988 164.041564,0 C161.766523,4.11318106 159.108624,9.64549908 157.276099,14.0464379 C137.583995,11.0849896 118.072967,11.0849896 98.7430163,14.0464379 C96.9108417,9.64549908 94.1925838,4.11318106 91.8971895,0 C73.3526068,3.2084988 55.6133949,8.86399117 39.0420583,16.6376612 C5.61752293,67.146514 -3.4433191,116.400813 1.08711069,164.955721 C23.2560196,181.510915 44.7403634,191.567697 65.8621325,198.148576 C71.0772151,190.971126 75.7283628,183.341335 79.7352139,175.300261 C72.104019,172.400575 64.7949724,168.822202 57.8887866,164.667963 C59.7209612,163.310589 61.5131304,161.891452 63.2445898,160.431257 C105.36741,180.133187 151.134928,180.133187 192.754523,160.431257 C194.506336,161.891452 196.298154,163.310589 198.110326,164.667963 C191.183787,168.842556 183.854737,172.420929 176.223542,175.320965 C180.230393,183.341335 184.861538,190.991831 190.096624,198.16893 C211.238746,191.588051 232.743023,181.531619 254.911949,164.955721 C260.227747,108.668201 245.831087,59.8662432 216.856339,16.5966031 Z M85.4738752,135.09489 C72.8290281,135.09489 62.4592217,123.290155 62.4592217,108.914901 C62.4592217,94.5396472 72.607595,82.7145587 85.4738752,82.7145587 C98.3405064,82.7145587 108.709962,94.5189427 108.488529,108.914901 C108.508531,123.290155 98.3405064,135.09489 85.4738752,135.09489 Z M170.525237,135.09489 C157.88039,135.09489 147.510584,123.290155 147.510584,108.914901 C147.510584,94.5396472 157.658606,82.7145587 170.525237,82.7145587 C183.391518,82.7145587 193.761324,94.5189427 193.539891,108.914901 C193.539891,123.290155 183.391518,135.09489 170.525237,135.09489 Z" fill="currentColor" fill-rule="nonzero"></path></g></svg>') no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    margin-right: 8px;
    background: white;
}

.md-header__buttons .md-button-secondary.github:before,
.md-typeset .md-button-secondary.github:before {
    position: relative;
    top: 5px;
    content: '';
    width: 22px;
    height: 22px;
    display: inline-block;
    -webkit-mask: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 496 512"><!--! Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc.--><path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"></path></svg>') no-repeat 50% 50%;
    mask: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 496 512"><!--! Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc.--><path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"></path></svg>') no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    margin-right: 8px;
    background: black;
}

.md-header__buttons .md-button--primary.github:before,
.md-typeset .md-button--primary.github:before {
    position: relative;
    top: 5px;
    content: '';
    width: 22px;
    height: 22px;
    display: inline-block;
    color: white;
    -webkit-mask: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 496 512"><path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"></path></svg>') no-repeat 50% 50%;
    mask: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 496 512"><path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"></path></svg>') no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    margin-right: 8px;
    background: white;
}

.md-header__buttons {
    margin-left: auto;
}

.md-header__buttons .md-button,
.md-typeset .md-button {
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
    font-size: 20px;
    font-weight: 400 !important;
    text-align: center;
    border-radius: 3px;
    border-color: transparent;
    margin-right: 5px;
}

.md-header__buttons .md-button {
    font-size: 18.7px;
    /*letter-spacing: -0.5px;*/
}

.md-typeset .md-button {
    min-width: 225px;
    padding: 0.5em 2em;
}

.md-typeset .md-button.small {
    min-width: 150px;
    padding: 0.3rem 0.5rem;
    font-size: 18px;
}

.md-typeset .md-button {
    vertical-align: middle;
}

.md-typeset .md-button .icon,
.md-typeset .md-post__action .icon {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    margin-left: 7px;
    transition: opacity .2s ease,transform .2s ease;
}

.md-typeset .md-button-secondary .icon {
    color: black;
}

.md-typeset .md-button--primary .icon {
    color: white;
}

.md-typeset .md-button-secondary:hover .icon, .md-typeset .md-button--primary:hover .icon {
    /* color: #a91ffe; */
    transform: translateX(3px)
}


[data-md-color-primary=white] .md-header__buttons .md-button--primary, [data-md-color-primary=white].md-header__buttons .md-button--primary:hover,
[data-md-color-primary=white] .md-typeset .md-button--primary, [data-md-color-primary=white] .md-typeset .md-button--primary:hover {
    background: rgba(0, 0, 0, 0.87);
    border: 1.5px solid rgba(0, 0, 0, 0.87);
    border-radius: 3px;
    font-weight: 400 !important;
    /*margin-right: 10px;*/
}

.md-header__buttons .md-button--primary:hover:not(.sky), .md-typeset .md-button--primary:hover:not(.sky) {
    background: black !important;
    border-color: black !important;
}

.md-header__buttons .md-button--primary,
.md-header__buttons .md-button-secondary {
    font-weight: 400 !important;
    white-space: nowrap;
    padding: 0.4rem 0.8rem;
}

.md-header__buttons .md-button-secondary:hover, .md-typeset .md-button-secondary:hover {
    color: black !important;
    border-color: black !important;
}

.providers a.feature-cell/*:hover*/ h3:after {
    content: url('data:image/svg+xml,<svg fill="rgba(0, 0, 0, 0.87)" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 16 16"><polygon points="5 4.31 5 5.69 9.33 5.69 2.51 12.51 3.49 13.49 10.31 6.67 10.31 11 11.69 11 11.69 4.31 5 4.31" data-v-e1bdab2c=""></polygon></svg>');
    margin-left: 5px;
    position: relative;
    top: 3px;
    margin-right: -7px;
}

.md-button-secondary.external:after {
    content: url('data:image/svg+xml,<svg fill="rgba(0, 0, 0, 0.87)" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 16 16"><polygon points="5 4.31 5 5.69 9.33 5.69 2.51 12.51 3.49 13.49 10.31 6.67 10.31 11 11.69 11 11.69 4.31 5 4.31" data-v-e1bdab2c=""></polygon></svg>');
    line-height: 14px;
    margin-left: 5px;
    position: relative;
    top: 3px;
    margin-right: -7px;
}

.md-button--primary.external:after, .md-button--primary.sky.external:after {
    content: url('data:image/svg+xml,<svg fill="white" xmlns="http://www.w3.org/2000/svg" width="21px" height="21px" viewBox="0 0 16 16"><polygon points="5 4.31 5 5.69 9.33 5.69 2.51 12.51 3.49 13.49 10.31 6.67 10.31 11 11.69 11 11.69 4.31 5 4.31" data-v-e1bdab2c=""></polygon></svg>');
    line-height: 14px;
    margin-left: 5px;
    position: relative;
    top: 2px;
    margin-right: -7px;
}

.md-header__buttons .md-button-secondary,
.md-typeset .md-button-secondary,
.md-header__buttons .md-button-secondary:hover,
.md-typeset .md-button-secondary:hover,
.md-header__buttons .md-button-secondary:focus,
.md-typeset .md-button-secondary:focus {
    background: transparent;
    color: rgba(0, 0, 0, 0.87);
    border: 0.5px solid rgba(0, 0, 0, 0.87);
    border-radius: 3px;
}

.md-header__buttons .md-button-secondary:hover,
.md-typeset .md-button-secondary:hover {
    color: black;
    border: 0.5px solid blackl
}

.md-header__buttons .md-button-secondary.borderless,
.md-header__buttons .md-button-secondary.borderless:hover {
    border: none;
    padding: 0 20px 0 0;
    margin: 0;
    font-weight: 500 !important;
}

.md-header__buttons {
    white-space: nowrap;
}

.tx-landing__highlights {
    margin-bottom: 5vw;
    font-size: 17px;
    line-height: 1.5;
}

.tx-landing__highlights_text h2 {
    font-size: 2.3em;
    max-width: 600px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1.8em;
    /*letter-spacing: -1.5px;*/
    line-height: 1.3;
}

.tx-landing__bottom_cta {
    display: flex;
    flex-direction: row;
}

.tx-landing__bottom_cta_card {
    padding: 10px 50px 20px;
    border: 0.5px dotted black;

    &.sky {
        border: 0;
        background: -webkit-linear-gradient(45deg, rgba(0, 42, 255, 0.05), rgba(0, 42, 255, 0.05), rgba(225, 101, 254, 0.08));
    }
}

.tx-landing__bottom_cta_card h2 {
    margin-top: 0.75em;
    margin-bottom: 0;
}

@media screen and (max-width: 76.1875em) {
    .tx-landing__bottom_cta {
        flex-direction: column;
        gap: 35px;
    }
}

@media screen and (min-width: 76.1875em) {
    .tx-landing__bottom_cta_card {
        width: 50%;

        &.enterprise {
            border-radius: 3px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0
        }

        &.sky {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0
        }
    }

    .tx-landing__bottom_cta_card .tx-landing__bottom_cta_card_panel {
        display: flex;
        column-gap: 30px;
        flex-direction: column;
    }

    .tx-landing__bottom_cta_card .tx-landing__bottom_cta_card_button_panel {
        flex: inherit;
    }
}

@media screen and (max-width: 76.1875em) {
    .tx-landing__bottom_cta_card .tx-landing__bottom_cta_card_button_panel {
        flex: inherit;
    }
}

.tx-landing__bottom_cta_card .tx-landing__bottom_cta_card_text {
    max-width: 100%;
    font-size: 0.95em;
}

.tx-landing__bottom_cta_card .tx-landing__bottom_cta_card_button_panel a {
    margin: 0 0 15px;
}

.tx-landing__bottom_cta_card .tx-landing__bottom_cta_card_button_subheader {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.tx-landing__highlights_cta {
    margin-top: 3vw;
}

.tx-landing__highlights_cta a {
    display: inline-block;
    font-size: 19px;
    margin-top: 30px;
    border: 1px solid;
    padding: 10px 30px;
}

.tx-landing__highlights_text h2 .gradient {
    background: -webkit-linear-gradient(45deg, #0048ff, #ce00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.providers.tx-landing__highlights_grid {
    grid-gap: 20px !important;
}

#typed {
    background: -webkit-linear-gradient(45deg, #0048ff, #ce00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.providers.tx-landing__highlights_grid .feature-cell h3 {
    align-content: center;
    font-size: 1em;
    font-weight: 600;
    padding-bottom: 0.05em;
    line-height: 25px;
}

.providers.tx-landing__highlights_grid .feature-cell {
    row-gap: 22px;
    padding: 25px 30px;
    aspect-ratio: 1.05;

    @media screen and (min-width: 76.1875em) {
        &:nth-child(1) {
            border-top-left-radius: 3px;
        }
    }
}

.tx-landing__highlights_grid .feature-cell {
    padding: 30px 40px;
    border-radius: 3px;
    border-color: rgba(0, 0, 0, 0.75);
    border-width: 0.5px;
    border-style: dotted;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 76.1875em) {
    .providers.tx-landing__highlights_grid .feature-cell {
        border-radius: 0;
        border-left: none;
        border-bottom: none;
    }

    .nvidia.providers.tx-landing__highlights_grid .feature-cell {
        &:nth-child(1), &:nth-child(6), &:nth-child(11) {
            border-left: 0.5px dotted rgba(0, 0, 0, 0.75);
        }

        &:nth-child(n+8) {
            border-bottom: 0.5px dotted rgba(0, 0, 0, 0.75);
        }

        &:nth-child(5) {
            border-top-right-radius: 3px;
        }

        &:nth-child(5), &:nth-child(11) {
            border-bottom-right-radius: 3px;
        }

        &:nth-child(11) {
            border-bottom-left-radius: 3px;
        }

        &:nth-child(10) {
            border-bottom-right-radius: 3px;
        }
    }
}

:is(.amd).providers.tx-landing__highlights_grid .feature-cell {
    &:nth-child(1) {
        border-left: 0.5px dotted rgba(0, 0, 0, 0.75);
        border-bottom-left-radius: 3px;
    }

    border-bottom: 0.5px dotted rgba(0, 0, 0, 0.75);

    &:nth-child(3) {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}

.providers.tx-landing__highlights_grid.other .feature-cell {
    column-gap: 15px;
    flex-direction: row;
    padding: 15px 29px 15px;
}

.providers.tx-landing__highlights_grid.other .feature-cell h3 {
    font-size: 1em;
}

@media screen and (min-width: 76.1875em) {
    .tx-landing__highlights_grid {
        grid-gap: 20px !important;
        border: none;

        grid-template-columns: repeat(4, 1fr) !important;
    }

    .providers.tx-landing__highlights_grid {
        grid-gap: 0px !important;
        border: none;

        grid-template-columns: repeat(5, 1fr) !important;
    }

    .tx-landing__highlights_grid .feature-cell {
    }
}

.tx-landing__highlights_grid .feature-cell {
    background: -webkit-linear-gradient(45deg, rgba(0, 42, 255, 0.005), rgba(0, 42, 255, 0.005), rgba(225, 101, 254, 0.01));
}

/*.tx-landing__highlights_grid .feature-cell:hover {
    background: -webkit-linear-gradient(45deg, rgba(0, 42, 255, 0.03), rgba(0, 42, 255, 0.03), rgba(225, 101, 254, 0.05));
}*/

.tx-landing__highlights_grid .feature-cell strong {
    font-weight: 500;
}

.tx-landing__highlights_grid .feature-cell .feature-tags {
    gap: 2px;
    margin: 0 -5px;
    margin-top: auto;
    display: none;
}

.tx-landing__highlights_grid .feature-cell .feature-tags .feature-tag {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 20px;
    font-size: 0.85em;
    font-weight: 400;
    line-height: 1.44;
    color: black;
    margin-top: 20px;
    margin-right: 5px;
    border-radius: 30px;
    border-width: 0.5px;
    border-style: solid;
    white-space: nowrap;
}

.tx-landing__highlights_grid > a, .tx-landing__highlights_grid > a:hover {
    text-decoration: none;
    color: inherit;
}

.tx-landing__integrations_text {
    color: #202128;
    font-size: 0.65rem;
    line-height: 24px;
    text-align: center;
    padding: 21px 5px 3px;
}

.tx-landing__integrations_logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 8px 5px 3px;
}

.tx-landing__integrations .logo-xlarge {
    width: 41px;
    margin-top: 2px;
}

.tx-landing__integrations .logo-large {
    width: 30px;
}

.tx-landing__integrations .logo-medium {
    width: 26px;
}

.tx-landing__highlights_grid {
    grid-gap: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    margin-top: 40px;
    margin-bottom: 30px;
}

.tx-landing__highlights_grid .feature-icon svg {
    padding: 12px;
    background: rgba(125, 4, 233, 0.02);
    color: #002aff;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    display: inline-flex;
    vertical-align: text-top;
    fill: currentColor;
    margin-bottom: 15px;
}

.tx-landing__highlights_grid h3 {
    font-size: 1.15em;
    font-weight: 700;
    border-bottom: none;
    padding-bottom: 0.3em;
    margin-top: 0;
    line-height: 32px;
}

.tx-landing__highlights_grid h3.external:after {
    content: url('data:image/svg+xml,<svg fill="black" xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" viewBox="0 0 16 16"><polygon points="5 4.31 5 5.69 9.33 5.69 2.51 12.51 3.49 13.49 10.31 6.67 10.31 11 11.69 11 11.69 4.31 5 4.31" data-v-e1bdab2c=""></polygon></svg>');
    margin-left: 2px;
    position: relative;
    top: 3px;
    margin-right: -7px;
}

.tx-landing__highlights_grid p {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.87);
}

.tx-landing__features {
    margin-bottom: 5vw;
}

.tx-landing__features_text h2 {
    font-size: 1.7em;
    max-width: 500px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 1.5em;
}

.tx-landing__features_grid {
    grid-gap: 1.2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.tx-landing__trusted_by {
    margin-top: 9vw;
    /*margin-bottom: 5vw;*/
    font-size: 18px;
    line-height: 1.5;
}

.tx-landing__major_feature {
    font-size: 1em;
    margin-top: 4em;
}

.tx-landing__trusted_by_text {
    font-size: 0.95em;
    max-width: 500px;
}

.tx-landing__major_feature h2 {
    font-weight: 700;
}

.tx-landing__major_feature h3 {
    padding-bottom: 0;
    border-bottom: none;
    background: -webkit-linear-gradient(45deg, #0048ff, #ce00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
}

.tx-landing__major_feature img.border {
    border: 0.25px rgba(0,0,0,0.2) solid;
    border-radius: 7px;
}

.tx-landing__major_feature h2 {
    font-size: 1.7em;
    max-width: 500px;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*letter-spacing: -1.5px;*/
}

.tx-landing__major_feature {
    margin-bottom: 7vw;
}

@media screen and (min-width: 76.1875em) {
    .tx-landing__major_feature .section {
        display: flex;
    }
}

.tx-landing__major_feature .block {
    max-width: 800px;
    width: 100%;
}

.tx-landing__major_feature .block.margin {
    margin-right: 50px;
}

.tx-landing__major_feature .block.large {
    width: 650px;
    max-width: 100%;
    flex: 0 0 auto;
}

/*.tx-landing__trusted_by*/ a[data-terminal-control] {
    color: #e37cff;
}

/*.tx-landing__trusted_by*/ [data-ty="input"]:before, [data-ty-prompt]:before {
    color: #e37cff;
}

/*.tx-landing__trusted_by*/ [data-termynal] {
    font-size: 14px;
}

.tx-landing__trusted_by .termy {
    max-width: 750px;
    margin-bottom: 2rem;
}

.tx-footer {
    padding-top: 2.5rem;
}

.md-footer__inner {
    padding: 0;
}

.tx-footer .md-main__inner {
    border-width: 0;
    /*border-top-width: 0.6px;*/
    border-image: linear-gradient(45deg, #0048ff, #ce00ff) 10;
    border-style: solid;
}

.tx-footer__section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 0.6rem;
}

.tx-footer__section-title {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    color: black;
    /*letter-spacing: -0.5px;*/
    line-height: 24px;
    margin-top: 0.6rem;
    margin-bottom: 0.1rem;
}

.tx-footer__logo:hover {
    opacity: .7;
}

.tx-footer__copyright {
    margin-top: 0.6rem;
    font-size: 18px;
    line-height: 26px;
    color: black;
    font-weight: 500;
}

.tx-footer__section-link {
    font-size: 0.75rem;
    line-height: 26px;
    color: #151414;
    transition: opacity .2s ease;
}

.tx-footer__section-link:hover {
    opacity: .7;
}

@media screen and (max-width: 76.1875em) {
    .tx-footer .md-main__inner {
        flex-direction: column;
        gap: 1.5rem;
        margin-left: .8rem;
        margin-right: .8rem;
    }

    .tx-footer__section {
        margin-bottom: 1.5rem;
    }

    .md-header__buttons {
        padding: 4px 0;
    }
}

@media screen and (min-width: 76.1875em) {
    .tx-footer {
        padding-bottom: 3.5rem;
    }

    .tx-footer__right-side {
        margin-left: auto;
        display: flex;
        gap: 4.5rem;
    }
}

.tx-landing__plans {
    margin-bottom: 2.75rem;
}

.tx-landing__plans_text {

}

.tx-landing__major_feature .supported_clouds_block.block.large {
    width: 600px
}

.supported_clouds {
    display: grid;
    flex-wrap: wrap;
    grid-gap: 0;
    margin-bottom: 1.3rem;
    max-width: 550px;
}

@media screen and (min-width: 44.984375em) {
    .supported_clouds {
        grid-template-columns: repeat(4, 1fr) !important;
    }
}

@media screen and (max-width: 44.984375em) {
    .supported_clouds {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

.supported_clouds_item {
    display: flex;
    /* align-items: center; */
    gap: 15px;
    padding: 20px 26px;
    /* border-radius: 2px; */
    border: 0.5px solid black;
    /* font-size: .85em; */
    color: #2A292D !important;
    line-height: 1.44;
    aspect-ratio: 1;
    flex-direction: column;
    font-weight: 300;
    font-size: 85%;

    &:hover {
        background: -webkit-linear-gradient(45deg, rgba(0, 42, 255, 0.05), rgba(0, 42, 255, 0.05), rgba(225, 101, 254, 0.08));
    }
}

.supported_clouds_item {
    border-right: none;
    border-bottom: none;
}

@media screen and (min-width: 76.1875em) {
    .supported_clouds_item {
        &:nth-child(1) {
            border-top-left-radius: 3px;
        }

        &:nth-child(4) {
            border-top-right-radius: 3px;
        }

        &:nth-child(9) {
            border-bottom-left-radius: 3px;
        }

        &:nth-child(12) {
            border-bottom-right-radius: 3px;
        }

        &:nth-child(4), &:nth-child(8), &:nth-child(12) {
            border-right: 0.5px solid black;
        }

        &:nth-child(n+9) {
            border-bottom: 0.5px solid black;
        }
    }
}

.md-header__buttons .md-button--primary.sky, .md-header__buttons .md-button--primary.sky:hover,
.md-typeset .md-button--primary.sky, .md-typeset .md-button--primary.sky:hover {
    background: -webkit-linear-gradient(45deg, #002aff, #002aff, #e165fe);
    border-radius: 3px;
    border: 1px solid transparent;
}

.highlighted {
    font-weight: 500;
    color: var(--md-typeset-a-color);
}

.plans_card__link {
    margin-top: 1.0rem;
    margin-bottom: 1.9rem;
    font-size: 1.0em;
    line-height: 1.66;
}

.plans_card__buttons .md-button {
    margin: 0;
}

@media screen and (max-width: 44.984375em) {
    .md-header__buttons .md-button:before, .md-header__buttons .md-button:after {
        display: none !important;
    }

    .md-header__buttons .md-button-secondary.borderless, .md-header__buttons .md-button-secondary.borderless:hover {
        padding-right: 10px;
    }
}

@media screen and (min-width: 76.1875em) {
    .tx-landing__plans_text h2 {
        font-size: 2.5rem;
    }
}

.typed-cursor {
    background: linear-gradient(90deg, #4631C8 -1.29%, #CD4AE2 88.05%, #FFD43C 111.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 7px;
}

.tx-landing__quotes_grid {
    grid-gap: 1.2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 2fr));
    margin-bottom: 2.4em;
}

.heart::after {
    position: relative;
    content: '';
    width: 45px;
    height: 40px;
    display: inline-block;
    -webkit-mask: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><svg height="30px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 471.701 471.701" xml:space="preserve"> <g> <path d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1 c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3 l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4 C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3 s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4 c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3 C444.801,187.101,434.001,213.101,414.401,232.701z"/> </g> </svg>') no-repeat 50% 50%;
    mask: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><svg height="30px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 471.701 471.701" xml:space="preserve"> <g> <path d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1 c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3 l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4 C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3 s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4 c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3 C444.801,187.101,434.001,213.101,414.401,232.701z"/> </g> </svg>') no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background: -webkit-linear-gradient(45deg, #0048ff, #ce00ff);
    top: 4px;
    margin: 0 3px;
}

.tx-landing__quotes_grid .photo {
    height: 80px;
    float: left;
    margin: 0 15px 15px 0;
}

.tx-landing__quotes_grid .photo img {
    width: auto;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50px;
}

.tx-landing__quotes_grid h3 {
    border-bottom: none;
    font-size: 1em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-top: 13px;
}

.tx-landing__quotes_grid h4 {
    border-bottom: none;
    font-size: 0.95em;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.5);
}

.tx-landing__quotes_grid p {
    clear: both;
    font-size: 0.9em;
}

.tx-landing__quotes_grid .cell {
    padding: 23px 23px 13px;
    border-radius: 3px;
    border-color: rgba(0, 0, 0, 0.75);
    border-width: 0.5px;
    border-style: solid;

    &:nth-child(odd) {
        background: -webkit-linear-gradient(45deg, rgba(0, 42, 255, 0.05), rgba(0, 42, 255, 0.05), rgba(225, 101, 254, 0.08));
        border: 0;
    }
}
