.tx-landing {
    margin: 0 .8rem;
    color: var(--md-primary-bg-color)
}

.tx-landing__hero_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tx-landing__hero_text h1 {
    margin-bottom: .75rem;
    font-weight: 800;
    font-size: 2.5em;
    letter-spacing: -3px;
}

.tx-landing__hero_text h1 strong {
    font-weight: 800;
}

.tx-landing__hero_text h1 .gradient {
    background: linear-gradient(90deg, #4631C8 -1.29%, #CD4AE2 88.05%, #FFD43C 111.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 4px;
    margin-right: -4px;
}

/*.tx-landing__hero_text p {
    font-size: 0.95rem;
}*/

.tx-landing__hero_buttons {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}

.tx-container .tx-landing__hero_buttons .md-button {
    margin-bottom: 0.2rem;
    margin-right: 0;
}

.tx-landing__hero_button_placeholder {
    color: #202128;
    font-size: 0.67rem;
    line-height: 24px;
    text-align: center;
    padding: 18px 5px 13px;
}

@media screen and (max-width: 76.1875em) {
    .tx-landing h1 {
        font-size: 1.4rem;
    }

    .tx-landing__hero_text {
        max-width: 30rem;
        margin-left: auto;
        margin-right: auto;
    }

    .tx-landing__hero_image {
        margin-top: 1.5rem;
        max-width: 26rem;
    }

    .tx-landing__hero_code {
        margin-top: 2.5rem;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
    }

    .tx-landing__hero_buttons {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
}

@media screen and (min-width: 76.1875em) {
    .tx-container {
        padding-bottom: 3vw;
    }

    .tx-landing__hero {
        margin-bottom: 2.5rem;
        font-size: 1.1em;
        line-height: 1.5;
    }

    .tx-landing__hero_text {
        margin-top: 5.1rem;
    }

    .tx-landing__hero_text h1 {
        font-size: 3rem;
        max-width: 36rem;
        line-height: 1.2;
    }

    .tx-landing__hero_text p {
        max-width: 30rem;
    }

    .tx-landing__hero_image {
        order: 1;
        width: 30rem;
        margin-top: 0.5rem;
        margin-left: 3rem;
    }

    .tx-landing__hero_code {
        /*width: 100vw;*/
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 2.5rem;
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
        /*border-top-left-radius: 2.5rem;*/
        /*border-top-right-radius: 2.5rem;*/
        border-radius: 2.5rem;
        background-image: url("/assets/images/hero_code_background.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .tx-landing__hero_code > [data-termynal] {
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
    }
}

.md-header__buttons .md-button.discord:before,
.tx-container .md-button.discord:before {
    position: relative;
    top: 5px;
    content: '';
    width: 26px;
    height: 26px;
    display: inline-block;
    -webkit-mask: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><svg width="20" height="20" viewBox="0 -28.5 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid"><g><path d="M216.856339,16.5966031 C200.285002,8.84328665 182.566144,3.2084988 164.041564,0 C161.766523,4.11318106 159.108624,9.64549908 157.276099,14.0464379 C137.583995,11.0849896 118.072967,11.0849896 98.7430163,14.0464379 C96.9108417,9.64549908 94.1925838,4.11318106 91.8971895,0 C73.3526068,3.2084988 55.6133949,8.86399117 39.0420583,16.6376612 C5.61752293,67.146514 -3.4433191,116.400813 1.08711069,164.955721 C23.2560196,181.510915 44.7403634,191.567697 65.8621325,198.148576 C71.0772151,190.971126 75.7283628,183.341335 79.7352139,175.300261 C72.104019,172.400575 64.7949724,168.822202 57.8887866,164.667963 C59.7209612,163.310589 61.5131304,161.891452 63.2445898,160.431257 C105.36741,180.133187 151.134928,180.133187 192.754523,160.431257 C194.506336,161.891452 196.298154,163.310589 198.110326,164.667963 C191.183787,168.842556 183.854737,172.420929 176.223542,175.320965 C180.230393,183.341335 184.861538,190.991831 190.096624,198.16893 C211.238746,191.588051 232.743023,181.531619 254.911949,164.955721 C260.227747,108.668201 245.831087,59.8662432 216.856339,16.5966031 Z M85.4738752,135.09489 C72.8290281,135.09489 62.4592217,123.290155 62.4592217,108.914901 C62.4592217,94.5396472 72.607595,82.7145587 85.4738752,82.7145587 C98.3405064,82.7145587 108.709962,94.5189427 108.488529,108.914901 C108.508531,123.290155 98.3405064,135.09489 85.4738752,135.09489 Z M170.525237,135.09489 C157.88039,135.09489 147.510584,123.290155 147.510584,108.914901 C147.510584,94.5396472 157.658606,82.7145587 170.525237,82.7145587 C183.391518,82.7145587 193.761324,94.5189427 193.539891,108.914901 C193.539891,123.290155 183.391518,135.09489 170.525237,135.09489 Z" fill="currentColor" fill-rule="nonzero"></path></g></svg>') no-repeat 50% 50%;
    mask: url('data:image/svg+xml,<?xml version="1.0" encoding="utf-8"?><svg width="20" height="20" viewBox="0 -28.5 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid"><g><path d="M216.856339,16.5966031 C200.285002,8.84328665 182.566144,3.2084988 164.041564,0 C161.766523,4.11318106 159.108624,9.64549908 157.276099,14.0464379 C137.583995,11.0849896 118.072967,11.0849896 98.7430163,14.0464379 C96.9108417,9.64549908 94.1925838,4.11318106 91.8971895,0 C73.3526068,3.2084988 55.6133949,8.86399117 39.0420583,16.6376612 C5.61752293,67.146514 -3.4433191,116.400813 1.08711069,164.955721 C23.2560196,181.510915 44.7403634,191.567697 65.8621325,198.148576 C71.0772151,190.971126 75.7283628,183.341335 79.7352139,175.300261 C72.104019,172.400575 64.7949724,168.822202 57.8887866,164.667963 C59.7209612,163.310589 61.5131304,161.891452 63.2445898,160.431257 C105.36741,180.133187 151.134928,180.133187 192.754523,160.431257 C194.506336,161.891452 196.298154,163.310589 198.110326,164.667963 C191.183787,168.842556 183.854737,172.420929 176.223542,175.320965 C180.230393,183.341335 184.861538,190.991831 190.096624,198.16893 C211.238746,191.588051 232.743023,181.531619 254.911949,164.955721 C260.227747,108.668201 245.831087,59.8662432 216.856339,16.5966031 Z M85.4738752,135.09489 C72.8290281,135.09489 62.4592217,123.290155 62.4592217,108.914901 C62.4592217,94.5396472 72.607595,82.7145587 85.4738752,82.7145587 C98.3405064,82.7145587 108.709962,94.5189427 108.488529,108.914901 C108.508531,123.290155 98.3405064,135.09489 85.4738752,135.09489 Z M170.525237,135.09489 C157.88039,135.09489 147.510584,123.290155 147.510584,108.914901 C147.510584,94.5396472 157.658606,82.7145587 170.525237,82.7145587 C183.391518,82.7145587 193.761324,94.5189427 193.539891,108.914901 C193.539891,123.290155 183.391518,135.09489 170.525237,135.09489 Z" fill="currentColor" fill-rule="nonzero"></path></g></svg>') no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    margin-right: 5px;
    background: -webkit-linear-gradient(45deg, #0048ff, #ce00ff);
}

.md-header__buttons {
    margin-left: auto;
}

.md-header__buttons .md-button,
.tx-container .md-button {
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
    font-size: 22px;
    font-weight: 400 !important;
    text-align: center;
    border-radius: 3px;
    border-color: transparent;
    margin-right: 15px;
}

.md-header__buttons .md-button {
    font-size: 19px;
}

.tx-container .md-button {
    min-width: 200px;
    padding: 0.55em 2em;
    font-size: 21px;
}

.tx-container .md-button.small {
    min-width: 175px;
    padding: 0.4em 1.7em;
    font-size: 20px;
}

.tx-container .md-button {
    vertical-align: middle;
}

.tx-container .md-button--primary:hover {
    transform: translateY(-2px);
    transition: opacity .2s ease,transform .2s ease;
}

.tx-container .md-button .icon {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    margin-left: 7px;
    transition: opacity .2s ease,transform .2s ease;
}

.tx-container .md-button--primary:hover .icon {
    transform: translateX(3px)
}

.md-header__buttons .md-button--primary,
.tx-container .md-button--primary {
    background: -webkit-linear-gradient(45deg, #002aff, #002aff, #e165fe);
}

.md-header__buttons .md-button--primary,
.md-header__buttons .md-button-secondary {
    font-weight: 500 !important;
    white-space: nowrap;
}

.md-header__buttons .md-button-secondary,
.tx-container .md-button-secondary {
    border-image: linear-gradient(45deg, #0048ff, #ce00ff) 10;
    border-width: 1.5px;
    border-style: solid;
    background: -webkit-linear-gradient(45deg, #0048ff, #ce00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.md-header__buttons .md-button-secondary:hover,
.tx-container .md-button-secondary:hover {
    background: -webkit-linear-gradient(45deg, #0048ff, #ce00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 76.1875em) {
    /*.md-header .md-header__buttons {
        display: none;
    }*/
}

.tx-landing__highlights {
    margin-bottom: 5vw;
    font-size: 18px;
    line-height: 1.5;
}

.tx-landing__highlights_text h2 {
    font-size: 2.2em;
    max-width: 500px;
    margin-top: 1.75em;
    margin-bottom: 2.5em;
    background: -webkit-linear-gradient(45deg, #0048ff, #ce00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -1.5px;
}

.tx-landing__highlights_grid .feature-cell {
    padding: 35px 40px 40px;
    border-radius: 5px;
    border-image: linear-gradient(45deg, #0048ff, #ce00ff) 10;
    border-width: 0.75px;
    border-style: solid;
}

.tx-landing__highlights_grid .feature-cell:hover {
    background: -webkit-linear-gradient(45deg, rgba(0, 42, 255, 0.015), rgba(0, 42, 255, 0.015), rgba(225, 101, 254, 0.025));
}

.tx-landing__highlights_grid .feature-cell strong {
    font-weight: 500;
}

.tx-landing__highlights_grid .feature-cell .feature-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    margin: 0 -5px;
}

.tx-landing__highlights_grid .feature-cell .feature-tags .feature-tag {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 7px 15px;
    border-radius: 30px;
    font-size: 0.85em;
    font-weight: 300;
    line-height: 1.44;
    color: black;
    margin-top: 10px;
    background: -webkit-linear-gradient(45deg, rgba(0, 42, 255, 0.05), rgba(0, 42, 255, 0.05), rgba(225, 101, 254, 0.05));
}

.tx-landing__highlights_grid > a, .tx-landing__highlights_grid > a:hover {
    text-decoration: none;
    color: inherit;
}

@media screen and (min-width: 76.1875em) {
    /*.tx-landing__integrations {
        margin-top: -5rem;
    }*/
}

.tx-landing__integrations_text {
    color: #202128;
    font-size: 0.65rem;
    line-height: 24px;
    text-align: center;
}

.tx-landing__integrations_logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 19px 5px 1px;
}

.tx-landing__integrations .logo-xlarge {
    width: 31px;
    margin-top: 2px;
}

.tx-landing__integrations .logo-large {
    width: 20px;
}

.tx-landing__integrations .logo-medium {
    width: 16px;
}

.tx-landing__highlights_grid {
    grid-gap: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.tx-landing__highlights_grid .feature-icon svg {
    padding: 12px;
    background: rgba(125, 4, 233, 0.02);
    color: #002aff;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    display: inline-flex;
    vertical-align: text-top;
    fill: currentColor;
    margin-bottom: 15px;
}

.tx-landing__highlights_grid h3 {
    font-size: 1.4em;
    font-weight: 800;
    border-bottom: none;
    padding-bottom: 0.1em;
    margin-top: 0;
    background: -webkit-linear-gradient(45deg, #6e14ed, #bf04e9, #bf04e9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tx-landing__features {
    margin-bottom: 5vw;
}

.tx-landing__features_text h2 {
    font-size: 1.7em;
    max-width: 500px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 1.5em;
}

.tx-landing__features_grid {
    grid-gap: 1.2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.tx-landing__bottom_cta {
    margin-top: 9vw;
    /*margin-bottom: 5vw;*/
    font-size: 18px;
    line-height: 1.5;
}

.tx-landing__major_feature {
    font-size: 1.05em;
    margin-top: 5em;
}

.tx-landing__bottom_cta_text {
    font-size: 1.1em;
    max-width: 500px;
}

.tx-landing__major_feature h3 {
    padding-bottom: 0;
    border-bottom: none;
    background: -webkit-linear-gradient(45deg, #0048ff, #ce00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
}

.tx-landing__major_feature img.border {
    border: 0.25px rgba(0,0,0,0.2) solid;
    border-radius: 7px;
}

.tx-landing__bottom_cta h2, .tx-landing__major_feature h2 {
    font-size: 1.8em;
    max-width: 500px;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    background: -webkit-linear-gradient(45deg, #ff00ff, #8500ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -1.5px;
}

.tx-landing__major_feature {
    margin-bottom: 7vw;
}

@media screen and (min-width: 76.1875em) {
    .tx-landing__major_feature .section {
        display: flex;
    }
}

.tx-landing__major_feature .block {
    max-width: 800px;
    width: 100%;
}

.tx-landing__major_feature .block.margin {
    margin-right: 50px;
}

.tx-landing__major_feature .block.large {
    width: 750px;
    max-width: 100%;
    flex: 0 0 auto;
}

/*.tx-landing__bottom_cta*/ a[data-terminal-control] {
    color: #e37cff;
}

/*.tx-landing__bottom_cta*/ [data-ty="input"]:before, [data-ty-prompt]:before {
    color: #e37cff;
}

/*.tx-landing__bottom_cta*/ [data-termynal] {
    font-size: 15px;
}

.tx-landing__bottom_cta .termy {
    max-width: 750px;
    margin-bottom: 2rem;
}

// Landing Footer

.tx-footer {

}

.tx-footer .md-main__inner {
    padding-top: 2.5rem;
    border-width: 0;
    /*border-top-width: 0.6px;*/
    border-image: linear-gradient(45deg, #0048ff, #ce00ff) 10;
    border-style: solid;
}

.tx-footer__section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 0.6rem;
}

.tx-footer__section-title {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    color: black;
    letter-spacing: -0.5px;
    line-height: 24px;
    margin-top: 0.6rem;
    margin-bottom: 0.1rem;
}

.tx-footer__logo:hover {
    opacity: .7;
}

.tx-footer__copyright {
    margin-top: 0.6rem;
    font-size: 18px;
    line-height: 26px;
    color: black;
    font-weight: 500;
}

.tx-footer__section-link {
    font-size: 0.75rem;
    line-height: 26px;
    color: #151414;
    transition: opacity .2s ease;
}

.tx-footer__section-link:hover {
    opacity: .7;
}

@media screen and (max-width: 76.1875em) {
    .tx-footer .md-main__inner {
        flex-direction: column;
        gap: 1.5rem;
        margin-left: .8rem;
        margin-right: .8rem;
    }

    .tx-footer__section {
        margin-bottom: 1.5rem;
    }
}

@media screen and (min-width: 76.1875em) {
    .tx-footer {
        padding-bottom: 3.5rem;
    }

    .tx-footer__right-side {
        margin-left: auto;
        display: flex;
        gap: 4.5rem;
    }
}

.tx-landing__plans {
    margin-bottom: 2.75rem;
}

.tx-landing__plans_text {

}

.tx-landing__plans_text h2 {
    margin-bottom: 2rem;
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
}

.tx-landing__plans_text h2 .gradient {
    background: linear-gradient(90deg, #4631C8 -1.29%, #CD4AE2 88.05%, #FFD43C 111.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 4px;
    margin-right: -4px;
}

.tx-landing__plans_cards {
    display: grid;
    flex-wrap: wrap;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.plans_card {
    display: flex;
    flex-direction: column;
    max-width: 445px;
    width: 100%;
    border-radius: 5px;
    border-image: linear-gradient(45deg, #0048ff, #ce00ff) 10;
    border-width: 0.5px;
    border-style: solid;
    padding: 38px 20px 38px 46px
}

.plans_card__title {
    margin-bottom: 0.9rem;
    font-size: 1.5em;
    font-weight: 800;
    line-height: 1.33;
}

.plans_card__subtitle {
    margin-bottom: 1.4rem;
    font-size: 0.98em;
    line-height: 1.44;
    color: #696F86;
}

.plans_card__buttons_subtitle {
    margin-top: 10px;
    margin-left: 10px;
    color: #202128;
    font-size: 0.7rem;
}

.plans_card__services {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 2.4rem;
}

.plans_card__service-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 7px 16px;
    border-radius: 30px;
    border: 0.5px solid black;
    font-size: .88em;
    line-height: 1.44;
    color: #2A292D;
}

.plans_card__service-item img {
    max-width: none;
    height: initial;
}

.plans_card__service-name {
    flex-shrink: 0;
    white-space: nowrap;
}

.plans_card__items {
    margin-bottom: .4rem;
}

.plans_card__buttons {
    margin-top: auto;
}

.plans_card__item {
    font-size: 1.0em;
    line-height: 2.0;
    color: black;
}

.plans_card__item .strong {
    color: #2A292D;
    font-weight: 700;
}

.highlighted {
    font-weight: 700;
    color: var(--md-typeset-a-color);
}

.plans_card__link {
    margin-top: 1.0rem;
    margin-bottom: 1.9rem;
    font-size: 1.0em;
    line-height: 1.66;
}

.plans_card__buttons .md-button {
    margin: 0;
}

@media screen and (max-width: 76.1875em) {

}

@media screen and (min-width: 76.1875em) {
    .tx-landing__plans_text h2 {
        font-size: 2.5rem;
    }
}
