.tokenPanel {
    background-color: var(--color-background-item-selected-ebt4bi);
    display: flex;
    border: 0.2em solid var(--color-border-item-selected-ppkssz);
    padding: 1em;
    margin: 1em;
    border-radius: var(--border-radius-token-wohc9e);
}
