.bar {
    position: relative;
    pointer-events: none;
    height: 6px;
    border-radius: 6px;
    background-color: var(--color-light-gray);
}
.progress {
    border-radius: inherit;
    height: inherit;
    overflow: hidden;
    background: linear-gradient(90deg, #64D262 28.81%, #B7EF80 98.59%);
}
