.md-header {
    border-bottom: 1px solid rgba(172, 191, 229, 0.45);
}
.md-footer {
    /*border-top: 1px solid #E4E4E7;*/
}
.md-footer__link {
    padding-top: 1.2rem;
}
.md-header[data-md-state=shadow] {
    box-shadow: none;
}
.md-main__inner {
    margin-top: 0;
}
.md-sidebar__scrollwrap {
    margin-top: -15px;
}

.md-typeset :is(.admonition,details):is(.warning) {
    background-color: #fffdf6;
    border-color: #fdeeba;
}

.md-typeset :is(.warning)>:is(.admonition-title) {
    color: #897e6d;
}

.md-typeset :is(.warning)>:is(.admonition-title):before {
    background-color: #ffbf58;
}

.md-typeset :is(.admonition,details):is(.info) {
    background-color: #fbfcff;
    border-color: #bfd4ff;
}

.md-typeset :is(.info)>:is(.admonition-title) {
    color: #395ba4;
}

.md-typeset :is(.info)>:is(.admonition-title):before {
    background-color: #4d7cdc;
}

.md-typeset :is(.admonition,details):is(.tip) {
    background-color: #fbfffc;
    border-color: #bfffd4;
}

.md-typeset :is(.tip)>:is(.admonition-title) {
    color: #469a62;
}

.md-typeset :is(.tip)>:is(.admonition-title):before {
    background-color: #51c677;
}

[dir=ltr] .md-typeset :is(.admonition,details) {
    border-style: solid;
    border-width: 1px;
    border-radius: 0;
    box-shadow: none;
    padding: .6rem .8rem
}

[dir=ltr] .md-typeset :is(.admonition,details) :is(p,div):not([class*="admonition-title"]) {
    padding-left: 32px;
}

.admonition-title, details > summary {
    border: none !important;
    background-color: transparent !important;
}

.md-typeset .admonition, .md-typeset details {
    font-size: 1em;
}

[dir=ltr] .md-typeset :is(.admonition-title,summary) {
    font-size: 1em;
    letter-spacing: -0.5px;
    font-weight: 600;
    /*padding-left: 18px;*/
    padding-bottom: 0;
    border: none;
    border-radius: 0;
}

.md-typeset :is(.info,.tip, .warning)>:is(.admonition-title) {
    margin-bottom: -12px;
}

.md-typeset :is(.info,.tip, .warning)>:is(summary) {
    margin-bottom: 12px;
    font-size: 1.1em !important;
}

.md-typeset :is(.info,.tip, .warning)>:is(.admonition-title,summary):before {
    /*display: none;*/
}

.md-header__title {
    margin-left: -4px !important;
    font-weight: 700;
    font-size: 20px;
    padding-top: 2px;
}

/*.md-header__title[data-md-state="active"] {*/
/*    margin-left: 10px !important;;*/
/*}*/

@media screen and (min-width: 76.1875em) {
    .md-header__title:not([class*="md-header__title--active"]) {
        margin-left: -13.5px !important;;
    }

    .md-header__topic:first-child {
        font-family: 'Poppins', Helvetica, sans-serif;
        font-size: 1.05rem;
        font-weight: 500;
    }
}


@media screen and (max-width: 76.1875em) {
    .md-nav--primary .md-nav__title {
        display: block;
        font-weight: 700;
    }
}

.md-nav__title {
    display: none;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

label.md-nav__link {
    font-weight: 500;
}

.md-nav__link:hover {
    color: var(--md-default-fg-color);
}

.md-nav__item {
    /*color: #3c4257;*/
    font-weight: 400;
    font-size: 15px;
}

.md-nav__item .md-nav__link:hover {
    color: var(--md-typeset-a-color);
}

.md-typeset pre > code, .md-typeset code {
    -webkit-font-smoothing: auto;
}

.md-typeset :not(pre) > code {
    background-color: #f7f8fa;
    border: 1px solid #dce0e6;
    border-radius: 2px;
    font-weight: 500;
    font-size: 12px;
    color: #C62A71;
    text-align: center;
    padding: 4px;
    height: 16px;
    margin: 0 4px;
}

.md-typeset :not(pre) > a code {
    color: var(--md-primary-fg-color);
}

.md-typeset pre > code {
    border-radius: 0;
    border-top: 1px solid #dce0e6;
    background-color: #f7f8fa;
    padding: 15px 20px;
}


@media screen and (min-width: 60em) {
    [data-md-color-primary=white] .md-search__form {
        background-color: #f7f8fa;
    }

    [data-md-color-primary=white] .md-search__form:hover {
        background-color: #dcdee3;
    }
}

.md-clipboard:after {
    color: var(--md-default-fg-color--lighter)
}

.md-clipboard:hover:after {
    color: var(--md-typeset-a-color)
}

@media screen and (max-width: 44.9375em) {
    .md-typeset pre > code {
        border: none;
    }
}

.footer__inner {
    background-color: var(--md-footer-bg-color--dark);
}

.md-footer__link .md-footer__link--next {
    font-weight: 500;
}

.md-typeset .admonition.note {
    border-color: var(--md-primary-fg-color);
}

.md-typeset {
    line-height: 1.3rem;
    font-size: 16px;
}

.md-typeset h1, .md-typeset h2 {
    font-weight: 400;
    letter-spacing: 0;
}

.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4  {
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.md-typeset h5, .md-typeset h6 {
    font-size: 0.9em !important;
}

.md-typeset h1 {
    margin-top: 0;
    margin-bottom: 0;
}

/*
.md-typeset h2, .md-typeset h3 {
    margin-top: 35px;
}
*/

.md-typeset h3 {
    font-size: 21px;
    margin-block-end: 0;
    padding-bottom: 0.7em;
    border-bottom: 1px solid rgba(243, 244, 246, 1);
}

.md-header, [data-md-color-primary=black] .md-header {
    background-color: var(--md-default-bg-color);
}

[data-md-color-scheme=slate][data-md-color-primary=black], [data-md-color-primary=white] {
    --md-primary-fg-color: #a344d7;
    --md-accent-fg-color: #a344d7;
    --md-typeset-a-color: #a344d7;
    --md-code-hl-keyword-color: #a344d7;
    --md-code-hl-string-color: #50a14f;
    --md-code-hl-constant-color: var(--md-code-fg-color);
    /*--md-primary-bg-color: white;*/
    --md-default-fg-color--lighter: rgb(159, 172, 190);
    --md-default-fg-color--lightest: #f6f9fc;
    --md-footer-fg-color--light: var(--md-default-fg-color);
}

.highlight :where(.l) {
    color: var(--md-code-fg-color) !important;
}

body {
    --md-text-font-family: metro-web, Metro, -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.md-content {
    /*border-left: 1px solid #E4E4E7;*/
}

.md-content__inner {
    padding-top: 0.8rem;
}

.md-header__button.md-logo :where(img,svg) {
    height: 1.17rem !important;
    width: 1.17rem !important;
}

.md-sidebar__inner {
    margin: 2em 0;
}

.md-nav__item--section>.md-nav__link {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5rem;
}

/*.md-sidebar--primary .md-nav__item .md-nav__link--active {
    color: white;
    background-color: black;
    border-radius: 12px;
}

.md-nav--secondary .md-nav__item .md-nav__link--active {
    color: var(--md-typeset-a-color);
    background-color: inherit;
    border-radius: inherit;
}*/

.md-sidebar--primary .md-nav__link {
    padding: 3px 15px 4px;
    margin: 3px 20px 3px -10px;
}

/*.md-sidebar--secondary .md-nav__link {
    color: rgb(120, 120, 120);
}*/

.md-nav__item .md-nav__link--active {
    color: var(--md-typeset-a-color);
}

@media screen and (min-width: 76.1875em) {
    .md-sidebar--primary .md-nav__link {
        border-left: 2px solid transparent;
    }

    .md-sidebar--primary .md-nav__link--active {
        border-left: 2px solid var(--md-typeset-a-color);
    }
}

.md-footer {
    background-color: var(--md-default-bg-color);
    color: inherit;
}

.md-footer-meta {
    border-top: 1px solid rgba(172, 191, 229, 0.45);
     /*display: none;*/
    background-color: var(--md-default-fg-color--lightest);
}

html .md-footer-meta.md-typeset a:is(:focus,:hover) {
    color: var(--md-primary-fg-color) !important;
}

@media screen and (max-width: 76.1875em) {
    .md-sidebar--primary .md-nav__link {
        padding: inherit;
        margin: 10px 15px;
    }

    .md-sidebar--primary .md-nav__item .md-nav__link--active {
        color: inherit;
        background-color: inherit;
        border-radius: inherit;
    }

    .md-nav--primary .md-nav__title[for=__drawer] {
        background-color: inherit;
    }
}

@media screen and (min-width: 76.25em) {
    .md-nav--integrated>.md-nav__list>.md-nav__item--active .md-nav--secondary {
        margin-bottom: 0;
    }
}

.md-typeset :where(ol, ul) {
    list-style: none !important;
}

.md-typeset :where(ol, ul) li {
    margin-left: 0;
    padding-left: 1.25rem;
    position: relative;
}

.md-typeset :where(ul) > li:before {
    background-color: #d1d5db;
    border-radius: 50%;
    content: "";
    height: 0.375em;
    left: 0.25em;
    position: absolute;
    top: 0.6875em;
    width: 0.375em;
}

.md-typeset :where(ol) > li:before {
    /*color: #6b7280;*/
    content: counter(list-item,var(--list-counter-style,decimal)) ".";
    font-weight: 400;
    left: 0;
    position: absolute;
}

.md-typeset :where(ol) {
    margin-left: 0;
}

.md-typeset :where(ul,ol) li :where(ul,ol) {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

@media screen and (min-width: 76.25em) {
    [dir=ltr] .md-sidebar--primary:not([hidden]) ~ .md-content > .md-content__inner {
        margin-left: 2.4rem;
    }
}

.md-typeset .md-button {
    font-weight: 600 !important;
}

.md-typeset p > img {
    border: 1px solid #E4E4E7;
}

.md-typeset figure p img {
    border: none;
    display: inline-block;
}

.md-typeset .grid.fit {
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
}

.md-typeset .tabbed-labels>label {
    margin-right: 14px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    line-height: 1.1 !important;
    -webkit-font-smoothing: auto !important;
    font-family: var(--font-family-sans-serif);
}

.js .md-typeset .tabbed-labels:before {
    height: 1px;
}

.md-typeset .tabbed-labels {
    box-shadow: none !important;
}

.md-typeset .grid {
    grid-gap: 0.8rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
    margin: 1em 0;
}

.md-typeset .grid.cards>:-webkit-any(ul,ol) {
    display: contents;
}

.md-typeset .grid.cards>:-webkit-any(ul,ol)>li, .md-typeset .grid>.card {
    /*border: 1px solid rgba(243, 244, 246, 1);*/
    /*border-radius: 0.2rem;*/
    display: block;
    margin: 0;
    background-color: var(--md-default-fg-color--lightest);
    padding: 0.6rem 1.25rem;
}

.md-typeset .grid.cards>:-webkit-any(ul,ol)>li:before {
    display: none;
}

.md-header--shadow {
    box-shadow: none;
    /*0 0 0.2rem rgb(0 0 0 / 3%), 0 0.2rem 0.9rem rgb(0 0 0 / 3%);*/
}