.wrapper {
    padding-top: 0;
    &:global(.rc-tooltip) {
        opacity: 1;
        padding-top: 0;
        padding-bottom: 0;
    }
    & :global(.rc-tooltip-arrow) {
        display: none;
    }
    & :global(.rc-tooltip-inner) {
        background: var(--color-white);
        box-shadow: 0 12px 40px rgba(99, 90, 107, 0.14);
        border-radius: 4px;
    }
}
.tooltip {
    z-index: var(--dropdown-z-index);
    color: var(--color-black);
    width: 100%;
    max-width: 320px;
    @mixin textStyle 13, 18;
}
