.frame {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    border-radius: 10px 10px 10px 10px;
    border: 1px dotted var(--color-light-gray);
    filter: drop-shadow(0px 10px 30px rgba(26, 18, 49, 0.07));
    position: relative;

    & svg {
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       width: 53%;
    }
}
.header {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 6px;
    height: 36px;
    padding-top: 0;
    padding-left: 12px;
    border-radius: 10px 10px 0 0;
}
.close,
.minimize,
.scale {
    flex-shrink: 0;
    width: 11px;
    height: 11px;
    border-radius: 50%;
}
.close {
    background-color: #FF9B9B;
    cursor: pointer;
}
.minimize {
    background-color: #EFDE86;
    cursor: pointer;
}
.scale {
    background-color: #9CD193;
    cursor: pointer;
}
.content {
    padding: 14px 16px;
    border-color: var(--color-light-gray);
    border-radius: 0 0 4px 4px;
}
