.modal {
    min-height: 280px;
}
.form {
    flex-grow: 1;
    flex-basis: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.field {
    &:nth-child(n+2) {
        margin-top: 12px;
    }
}
.delete {
    margin-left: auto;
}
