.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--color-black);
}
.separator {
    color: var(--color-gray);
    margin-top: 3px;
    & > svg {
        width: 12px;
        height: 12px;
        transform: rotate(-90deg);
    }
}
.link {
    color: var(--color-black);
    transition: color .2s ease;
    &:hover {
        color: var(--color-blue)
    }
}
.item {
    font-weight: 400;
    @mixin textStyle 24, 30;
}
