.d2h-d-none {
    display: none
}

.d2h-wrapper {
    text-align: left
}

.d2h-file-header {
    background-color: rgba(236, 236, 238, .5);
    border-bottom: 1px solid var(--color-light-gray);
    font-family: "SF Pro Display", Helvetica Neue, Helvetica, Arial, sans-serif;
    height: 32px;
    padding: 5px 7px
}

.d2h-file-header, .d2h-file-stats {
    display: flex
}

.d2h-file-stats {
    font-size: 14px;
    margin-left: auto
}

.d2h-lines-added {
    border: none;
    border-radius: 5px 0 0 5px;
    color: #399839;
    padding: 2px;
    text-align: right;
    vertical-align: middle
}

.d2h-lines-deleted {
    border: 1px solid #e9aeae;
    border-radius: 0 5px 5px 0;
    color: #c33;
    margin-left: 1px;
    padding: 2px;
    text-align: left;
    vertical-align: middle
}

.d2h-file-name-wrapper {
    align-items: center;
    display: flex;
    @mixin textStyle 14, 20;
    width: 100%
}

.d2h-file-name {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.d2h-file-wrapper {
    border: 1px solid var(--color-light-gray);
    border-radius: 4px;
    margin-bottom: 1em
}

.d2h-file-collapse {
    align-items: center;
    justify-content: flex-end;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
    display: none;
    font-size: 12px;
    padding: 4px 8px
}

.d2h-file-collapse.d2h-selected {
    background-color: #c8e1ff
}

.d2h-file-collapse-input {
    margin: 0 4px 0 0
}

.d2h-diff-table {
    border-collapse: collapse;
    font-family: Menlo, monospace;
    letter-spacing: -0.4px;
    @mixin textStyle 13, 20;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 1px;
}
.d2h-diff-table tr {
    position: relative;
}

.d2h-files-diff {
    width: 100%
}

.d2h-file-diff {
    overflow-y: hidden
}

.d2h-file-side-diff {
    display: inline-block;
    margin-bottom: -8px;
    margin-right: -4px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 50%
}

.d2h-code-line {
    padding: 0 7.5em
}

.d2h-code-line, .d2h-code-side-line {
    display: inline-block;
    user-select: none;
    white-space: nowrap;
    width: 100%
}

.d2h-code-side-line {
    padding: 0 4.5em
}

.d2h-code-line-ctn {
    word-wrap: normal;
    background: none;
    display: inline-block;
    padding: 0;
    user-select: text;
    vertical-align: middle;
    white-space: pre;
    width: 100%
}

.d2h-code-line del, .d2h-code-side-line del {
    background-color: #ffb6ba
}

.d2h-code-line del, .d2h-code-line ins, .d2h-code-side-line del, .d2h-code-side-line ins {
    border-radius: .2em;
    display: inline-block;
    margin-top: -1px;
    text-decoration: none;
    vertical-align: middle
}

.d2h-code-line ins, .d2h-code-side-line ins {
    background-color: #B7F0D2;
    text-align: left
}

.d2h-code-line-prefix {
    word-wrap: normal;
    background: none;
    display: inline;
    padding: 0;
    white-space: pre
}

.line-num1 {
    float: left
}

.line-num1, .line-num2 {
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 .46em;
    text-overflow: ellipsis;
    width: 3em
}

.line-num2 {
    float: right
}

.d2h-code-linenumber {
    background-color: #fff;
    border: solid #eee;
    border-width: 0 1px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .3);
    cursor: pointer;
    display: inline-block;
    position: absolute;
    min-height: 100%;
    text-align: left;
    width: 6.5em
}

.d2h-code-linenumber:after {
    content: "\200b"
}

.d2h-code-side-linenumber {
    background-color: #fff;
    border: solid #eee;
    border-width: 0 1px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .3);
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0 .5em;
    position: absolute;
    text-align: right;
    text-overflow: ellipsis;
    width: 4em
}

.d2h-code-side-linenumber:after {
    content: "\200b"
}

.d2h-code-side-emptyplaceholder, .d2h-emptyplaceholder {
    background-color: #f1f1f1;
    border-color: #e1e1e1
}

.d2h-code-line-prefix, .d2h-code-linenumber, .d2h-code-side-linenumber, .d2h-emptyplaceholder {
    user-select: none
}

.d2h-code-linenumber, .d2h-code-side-linenumber {
    direction: rtl
}

.d2h-del {
    background-color: #fee8e9;
    border-left-color: transparent;
    border-right-color: var(--color-light-gray);
}

.d2h-ins {
    background-color: #EFFCF5;
    border-left-color: transparent;
    border-right-color: var(--color-light-gray);
}

.d2h-info {
    background-color: #f8fafd;
    border-left-color: transparent;
    border-right-color: var(--color-light-gray);
    color: rgba(0, 0, 0, .3)
}

.d2h-file-diff .d2h-del.d2h-change {
    background-color: #FCF2F2
}

.d2h-file-diff .d2h-ins.d2h-change {
    background-color: #EFFCF5
}

.d2h-file-list-wrapper {
    margin-bottom: 10px
}

.d2h-file-list-wrapper a {
    color: #3572b0;
    text-decoration: none
}

.d2h-file-list-wrapper a:visited {
    color: #3572b0
}

.d2h-file-list-header {
    text-align: left
}

.d2h-file-list-title {
    font-weight: 700
}

.d2h-file-list-line {
    display: flex;
    text-align: left
}

.d2h-file-list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0
}

.d2h-file-list > li {
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 5px 10px
}

.d2h-file-list > li:last-child {
    border-bottom: none
}

.d2h-file-switch {
    cursor: pointer;
    display: none;
    font-size: 10px
}

.d2h-icon {
    fill: var(--color-medium-gray);
    margin-right: 6px;
    vertical-align: middle
}

.d2h-deleted {
    color: #c33
}

.d2h-added {
    color: #399839
}

.d2h-changed {
    color: #d0b44c
}

.d2h-moved {
    color: #3572b0
}

.d2h-tag {
    background-color: #fff;
    display: flex;
    font-size: 10px;
    margin-left: 5px;
    padding: 0 2px;
    border-radius: 2px;
}

.d2h-deleted-tag {
    //border: 1px solid #c33
}

.d2h-added-tag {
    //border: 1px solid #399839
}

.d2h-changed-tag {
    //border: 1px solid #d0b44c
}

.d2h-moved-tag {
    //border: 1px solid #3572b0
}
