body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    //-webkit-font-smoothing: antialiased;
    //-moz-osx-font-smoothing: grayscale;
    //text-rendering: optimizeLegibility;
    min-height: 100vh;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: var(--color-black-hover)
}

button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mono-font, .mono-font button {
    font-family: "Roboto Mono", monospace;
    letter-spacing: -0.02em;
}
* {
    box-sizing: border-box;
}

ul,ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
a {
    color: var(--color-blue);
    text-decoration: none;
    &:hover {
        color: var(--color-blue-hover);
    }
}
.skeleton-element {
    background: linear-gradient(90deg, #E9ECF0 5.56%, #F2F2F2 62.89%, #E9ECF0 97.01%);
    animation: loader-pulse 1.5s infinite;
}
@keyframes loader-pulse {
    0% {
        opacity: .4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .4;
    }
}
