name: Build Docs

on:
  workflow_call:
    inputs:
      release-tag:
        type: string
        required: false

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
        with:
          python-version: 3.11
      - name: Install dstack
        run: |
          uv pip install examples/plugins/example_plugin_server
          if [ -n "${{ inputs.release-tag }}" ]; then
            uv pip install "dstack[server]==${{ inputs.release-tag }}"
          else
            uv pip install -e '.[server]'
          fi
      - name: Build
        run: |
          uv pip install pillow cairosvg
          sudo apt-get update && sudo apt-get install -y libcairo2-dev libfreetype6-dev libffi-dev libjpeg-dev libpng-dev libz-dev
          uv pip install mkdocs-material "mkdocs-material[imaging]" mkdocs-material-extensions mkdocs-redirects mkdocs-gen-files "mkdocstrings[python]" mkdocs-render-swagger-plugin --upgrade
          uv pip install git+https://${{ secrets.GH_TOKEN }}@github.com/squidfunk/mkdocs-material-insiders.git
          uv run mkdocs build -s
      - uses: actions/upload-artifact@v4
        with:
          name: site
          path: site
          retention-days: 1
