name: Build Docs

on:
  workflow_call:

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
        with:
          python-version: 3.11
      - name: Install dstack
        run: |
          uv sync --extra server
      - name: Build
        run: |
          sudo apt-get update && sudo apt-get install -y libcairo2-dev libfreetype6-dev libffi-dev libjpeg-dev libpng-dev libz-dev
          uv run mkdocs build -s
      - uses: actions/upload-artifact@v4
        with:
          name: site
          path: site
          retention-days: 1
