name: Deploy Docs

on:
  workflow_dispatch:
    inputs:
      release_tag:
        description: "dstack version"

jobs:
  docs-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install dstack
        run: |
          if [ -n "${{ inputs.release_tag }}" ]; then
            pip install "dstack==${{ inputs.release_tag }}"
          else
            pip install -e .
          fi
      - name: Build
        run: |
          pip install pillow cairosvg
          sudo apt-get install -y libcairo2-dev libfreetype6-dev libffi-dev libjpeg-dev libpng-dev libz-dev
          pip install mkdocs-material "mkdocs-material[imaging]" mkdocs-material-extensions mkdocs-redirects mkdocs-gen-files "mkdocstrings[python]" mkdocs-render-swagger-plugin --upgrade
          pip install git+https://${{ secrets.GH_TOKEN }}@github.com/squidfunk/mkdocs-material-insiders.git
          mkdocs build
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          repository-name: dstackai/dstackai.github.io
          branch: gh-pages
          token: ${{ secrets.GH_TOKEN }}
          folder: site