name: Run CLI integration tests

on:
  push:
  workflow_dispatch:

jobs:
  cli-integration-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ 3.7, 3.8, 3.9, "3.10", 3.11 ]
    defaults:
      run:
        working-directory: cli
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements_dev.txt
      - name: Run pytest
        run: |
          mkdir -p dstack/hub/statics
          pytest tests/integration/
