name: Manual AMI build for STGN

on: [workflow_dispatch]

jobs:
  ami-build:
    defaults:
      run:
        working-directory: runner
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    strategy:
      matrix:
        variants: [ ami-without-cuda, ami-cuda ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Download packer
        run: |
          wget https://releases.hashicorp.com/packer/1.8.0/packer_1.8.0_linux_amd64.zip
          unzip packer_1.8.0_linux_amd64.zip
          chmod +x packer
          cp -R ami/packer/* .
      - name: Run packer
        run: ./packer build -var build_id=${{ github.run_number }} ${{ matrix.variants }}.json
