name: Manual AMI build for STGN

on: [workflow_dispatch]

env:
  IMAGE_VERSION: "0.2"

jobs:
  ami-build:
    defaults:
      run:
        working-directory: runner
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    strategy:
      matrix:
        variants: [ ami-without-cuda, ami-cuda ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Download packer
        run: |
          wget https://releases.hashicorp.com/packer/1.8.0/packer_1.8.0_linux_amd64.zip
          unzip packer_1.8.0_linux_amd64.zip
          chmod +x packer
          cp -R ami/packer/* .
      - name: Get runner version from the current branch
        run: |
          buildRunNumber=$(gh api -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" \
            "/repos/${{ github.repository }}/actions/runs?branch=${{ github.ref_name }}&status=success" \
            --jq '[.workflow_runs[] | select(.path==".github/workflows/build.yml")][0].run_number')
          echo 'RUNNER_VERSION='$(($buildRunNumber + 150)) >> $GITHUB_ENV
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      - name: Run packer
        run: |
          VERSION=${{ github.run_number }}
          ./packer build -var build_id=$VERSION -var image_version=${{ env.IMAGE_VERSION }} -var runner_version=${{ env.RUNNER_VERSION }} ${{ matrix.variants }}.json
